.logchamp {
    display: block;
    width: 11rem;
    margin: 1rem auto;
}

.logchamp_title {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: var(--color-text-primary);
    font-weight: 500;
}

.logchamp_discord {
    margin-top: 1rem;
}
