.button {
  font-weight: 500;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  text-decoration: none;
  line-height: 1;
}

.button--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}


/* Variants */
.button--primary {
  background-color: var(--color-btn-primary-bg);
}

.button--primary:hover {
  background-color: color-mix(in srgb, var(--color-btn-primary-bg) 90%, black 20%);
}

.button--primary.active {
  background-color: var(--color-btn-primary-bg-active);
}

.button--primary .button__text,
.button--primary .button__icon i {
  color: var(--color-btn-primary-text);
}

.button--secondary {
  background-color: var(--color-btn-secondary-bg);
}

.button--secondary:hover {
  background-color: color-mix(in srgb, var(--color-btn-secondary-bg) 90%, black 20%);
}

.button--secondary.active {
  background-color: var(--color-btn-secondary-bg-active);
}

.button--primary-outlined {
  background-color: transparent;
  border: 0.13rem solid var(--color-btn-primary-outlined);
}

.button--primary-outlined:hover {
  background-color: var(--color-btn-primary-bg);
}

.button--primary-outlined .button__text,
.button--primary-outlined .button__icon i {
  color: var(--color-btn-primary-outlined);
}

.button--primary-outlined:hover .button__text,
.button--primary-outlined:hover .button__icon i {
  color: var(--color-btn-primary-text);
}

.button--secondary-outlined {
  background-color: transparent;
  border: 0.13rem solid var(--color-btn-secondary-outlined);
}

.button--secondary-outlined:hover {
  background-color: var(--color-btn-secondary-outlined);
}

.button--secondary-outlined.active .button__text,
.button--secondary-outlined.active .button__icon i {
  color: var(--color-btn-primary-outlined);
}

.button--ghost {
  background-color: transparent;
}

.button--ghost:hover {
  background-color: var(--color-btn-secondary-outlined);
}

.button--ghost.active .button__text,
.button--ghost.active .button__icon i {
  color: var(--color-btn-primary-outlined);
}

.button--danger {
  background-color: var(--color-btn-danger-bg);
}

.button--danger.active {
  background-color: var(--color-btn-danger-bg-active);
}

.button--danger:hover {
  background-color: color-mix(in srgb, var(--color-btn-danger-bg) 90%, black 20%);
}

.button--danger .button__text,
.button--danger .button__icon i {
  color: var(--color-btn-danger-text);
}


/* Sizes */
.button--small {
  font-size: 0.875rem;
  line-height: 1.4rem;
  padding: .35rem 1rem;
  border-radius: var(--border-radius-small);
}

.button--medium {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: .5rem 1.2rem;
  border-radius: var(--border-radius-small);
}

.button--large {
  font-size: 1.125rem;
  line-height: 1.6rem;
  padding: .7rem 1.4rem;
  border-radius: var(--border-radius);
}

.button--xl {
  font-size: 1.3rem;
  line-height: 1.6rem;
  padding: 1rem 2rem;
  border-radius: var(--border-radius-large);
}

.button--small.button--primary-outlined,
.button--small.button--secondary-outlined {
  padding: .22rem .9rem;
}

.button--medium.button--primary-outlined,
.button--medium.button--secondary-outlined {
  padding: .37rem 1rem;
}

.button--large.button--primary-outlined,
.button--large.button--secondary-outlined {
  padding: .57rem 1.3rem;
}

.button--xl.button--primary-outlined,
.button--xl.button--secondary-outlined {
  padding: .83rem 1.9rem;
}

  
/* Icon styles */
.button__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--small .button__icon i {
  line-height: 1.4rem;
  font-size: 1.4rem;
}

.button--medium .button__icon i {
  line-height: 1.5rem;
  font-size: 1.5rem;
}

.button--large .button__icon i {
  line-height: 1.6rem;
  font-size: 1.6rem;
}

.button--xl .button__icon i {
  line-height: 1.6rem;
  font-size: 1.7rem;
}

.button__icon--leading {
  margin-right: .5rem;
}

.button__icon--trailing {
  margin-left: .5rem;
}

/* Adjust padding for icon-only buttons */
.button--small.button--icon-only {
  padding: .35rem;
}
.button--small.button--primary-outlined.button--icon-only,
.button--small.button--secondary-outlined.button--icon-only {
  padding: .22rem;
}

.button--medium.button--icon-only {
  padding: .5rem;
}
.button--medium.button--primary-outlined.button--icon-only,
.button--medium.button--secondary-outlined.button--icon-only {
  padding: .37rem;
}

.button--large.button--icon-only {
  padding: .7rem;
}
.button--large.button--primary-outlined.button--icon-only,
.button--large.button--secondary-outlined.button--icon-only {
  padding: .57rem;
}

.button--xl.button--icon-only {
  padding: 1rem;
}
.button--xl.button--primary-outlined.button--icon-only,
.button--xl.button--secondary-outlined.button--icon-only {
  padding: .83rem;
}


.button--icon-only .button__icon--leading {
  margin: 0;
}
  


/* ButtonShowcase styles */
.button-showcase {
  margin: 0 auto;
}

.button-showcase__title {
  margin-top: 30px;
  margin-bottom: 15px;
}

.button-showcase__section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
  align-items: flex-start;
}