
.about-section {
    margin-bottom: 2rem;
}


/* intro section */

.about-intro__p {
    margin-top: 0;
    max-width: 50rem;
}

.about-intro__grid-container {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
}

.about-intro__grid-container .accordion {
    width: 100%;
}

/* BEM exception becasue its a picture component */
.about-intro__picture {
    max-width: 33rem;
    width: 100%;
    margin: 3rem 0 1rem 0;
}


@media only screen and (min-width: 800px) {

    .about-section {
        margin-bottom: 5rem;
    }

    .about-intro__p {
        max-width: 50rem;
    }

    .about-intro__grid-container {
        flex-wrap: nowrap;
        padding: 1rem 0;
    }

    .about-intro__grid-container picture {
        margin: 0;
    }
}
