.jobads-item {
	cursor: pointer;
	transition: .2s;
	padding: .13rem;
	border-radius: .4rem;
	margin-bottom: 1.5rem;
	margin-left: auto;
	margin-right: auto;
}

.jobads-item_wrapper {
	display: inline-flex;
	width: 100%;
	padding: 1rem;
	z-index: 50;
	border-radius: var(--border-radius);
	display: grid;
	grid-template-columns: auto;
	align-items: center;
	row-gap: .5rem;
	grid-template-areas:
		'pic' 
		'info';

	/* cleaner word-breaking */
	white-space: pre-line;
	overflow-wrap: break-word;
	-ms-word-break: break-word;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	background-color: var(--color-bg-body);
}

.jobads-item_wrapper--with-tags {
	grid-template-areas:
		'tags'
		'pic' 
		'info';
}

.jobads-item:hover .jobads-item_wrapper {
	background-color: var(--color-bg-surface);
}

.jobads-item--highlight {
	background: var(--gradient-highlight);
	transition: .2s;
}

.jobads-item--highlight:hover {
	background: var(--gradient-highlight-hover);
}

.jobads-item_picture {
	grid-area: pic;
	align-self: baseline;
	background-color: var(--color-border-default);
	border-radius: var(--border-radius);
}

.jobads-item_img {
	display: block;
    width: 100%;
	object-fit: cover;
	aspect-ratio: 3/2;
	border-radius: var(--border-radius);
	border: .15rem solid var(--color-border-default);
}

.jobads-item_tags {
	display: flex;
	gap: .5rem;
	grid-area: tags;
	height: min-content;
}

.jobads-item_info {
	grid-area: info;
}

.jobads-item_name {
	font-size: 1.2rem;
	display: inline-block;
	line-height: 1.4em;
}

.jobads-item_details {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	column-gap: 1rem;
	row-gap: .5rem;
	margin-top: .5rem;
}

.jobads-item_detail {
	color: var(--color-text-regular);
	line-height: 1.4em;
	font-size: .9rem;
}

.jobads-item_icon {
	color: var(--color-text-regular);
	padding-right: .3rem;
	line-height: inherit;
	font-size: 1.3em;
	vertical-align: top;
}

.jobads-item_detail-overflow-number {
	background-color: var(--color-checktag-bg);
	color: var(--color-checktag-text);
	border-radius: 1em;
	padding: .1rem .45rem .1rem .3rem;
	font-size: .8em;
}

@media only screen and (min-width: 400px) {

	.jobads-item {
		max-width: 100%;
	}

	.jobads-item--highlight {
		margin-bottom: 1rem;
	}

	.jobads-item_wrapper {
		column-gap: 1rem;
		padding: .75rem;
		max-width: 100%;
		grid-template-columns: min-content auto;
		grid-template-areas: 
			'pic info';
	}

	.jobads-item_wrapper--with-tags {
		grid-template-rows: 1.6rem auto; /* 1.6 tag height, 'min-content' didnt work, idk why */
		grid-template-areas: 
			'tags tags'
			'pic info';
	}

	.jobads-item_img {
		height: 4.5rem;
		width: fit-content;
	}
}

@media only screen and (min-width: 600px) {

	.jobads-item_wrapper {
		padding: 1rem;
	}

	.jobads-item_img {
		height: 7rem;
	}

	.jobads-item_details {
		column-gap: 1.2rem;
		row-gap: .2rem;
	}

	.jobads-item_name {
		font-size: 1.3rem;
	}
}

@media only screen and (min-width: 800px) {

	.jobads-item_wrapper {
		padding: 1rem;
		column-gap: 2rem;
		row-gap: .5rem;
		grid-template-areas: 
			'pic info';
	}

	.jobads-item_wrapper--with-tags {
		grid-template-areas: 
			'pic tags'
			'pic info';
	}

	.jobads-item_img {
		height: 8rem;
	}

	.jobads-item_wrapper--with-tags .jobads-item_info {
		align-self: start;
	}

	.jobads-item_name {
		font-size: 1.5rem;
	}

	.jobads-item_details {
		column-gap: 1.5rem;
		row-gap: .5rem;
	}

	.jobads-item_detail {
		font-size: .95rem;
	}
}

@media only screen and (min-width: 1000px) {

	.jobads-item--highlight {
		margin-bottom: 2rem;
	}

}