.hero-section {
    width: 100%;
    margin-top: calc(var(--h-topbar) * -1); /* counter the margin from main */
    background: var(--gradient-hero-section-bg);
    height: 35rem;
}

.hero-section__container {
    max-width: 40rem;
    top: 50%;
    margin: var(--h-topbar) 10vw;
    transform: translateY(-50%);
    position: relative;
}

.hero-section__logo {
    display: block;
    max-width: 50rem;
    width: 100%;
    margin: auto;
}

.hero-section__content {
    width: 100%;
    text-align: center;
    margin-top: 4rem;
}

.hero-section__top-text {
    font-size: 1.5rem;
    line-height: 2.2rem;
}

.hero-section__gradient-text {
    background: var(--gradient-hero-section-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1em;
}

.hero-section__buttons {
    margin: 4rem auto 0 auto;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (min-width: 600px) {
    .hero-section {
        height: 100vh; /* Full screen height */
        min-height: 40rem;
        max-height: 45rem;
    }

    .hero-section__container {
        margin: 0 10vw;
    }
}

@media only screen and (min-width: 800px) {
    .hero-section {
        clip-path: ellipse(100% 95% at 50% 0);
    }

    .hero-section__container {
        margin: 0 5vw;
        max-width: 100rem;
    }

    .hero-section__top {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 4rem;
    }

    .hero-section__content {
        margin: auto;
        width: fit-content;
        text-align: left;
    }

    .hero-section__top-text {
        font-size: 1.8rem;
    }

    .hero-section__gradient-text {
        font-size: 4.4rem;
    }

    .hero-section__buttons {
        margin-top: 2rem;
        width: 21rem;
        justify-content: start;
        margin-left: 0;
    }
}

@media only screen and (min-width: 1000px) {
    .hero-section {
        margin-top: calc(var(--h-topbar) * -1);
        max-height: 50rem;
    }

    .hero-section__container {
        gap: 5rem;
    }

    .hero-section__top-text {
        font-size: 2.1rem;
    }

    .hero-section__gradient-text {
        font-size: 5rem;
        line-height: 5.6rem;
    }
}


@media only screen and (min-width: 1200px) {
    .hero-section {
        max-height: 60rem;
    }

    .hero-section__container {
        gap: 7rem;
        max-width: 70rem;
        margin: auto;
    }

    .hero-section__content {
        font-size: 2.4rem;
        line-height: 3rem;
    }

    .hero-section__gradient-text {
        font-size: 5.6rem;
        line-height: 6rem;
    }
}