services:
  beehive:
    container_name: beehive
    image: beehive
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
