.mazemap-container {
    position: relative;
}

.mazemap {
    width: 100%;
    border-radius: .5rem;
    display: block;
    border: .2rem solid var(--color-border-default);
    margin: auto;
}

.mazemap_overlay-item {
    position: absolute;
    z-index: 5;
    backdrop-filter: blur(10px);
    border-radius: var(--border-radius);
    background-color: rgba(40, 40, 40, 0.4);
}

.mazemap_link {
    padding: .5rem;
    top: .5rem;
    right: .5rem;
}

.mazemap_link:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.mazemap_link-icon {
    font-size: 1.5rem;
    color: white;
}

.mazemap_controls {
    right: .5rem;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.mazemap_zoom-btn {
    padding: .5rem;
    background: none;
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.mazemap_zoom-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.mazemap_zoom-btn--top {
    border-radius: .3rem .3rem 0 0;
    border-bottom: .05rem solid rgb(100, 100, 100);
}

.mazemap_zoom-btn--bottom {
    border-radius: 0 0 .3rem .3rem;
}

.mazemap_location-name {
    left: .5rem;
    top: .5rem;
    padding: .5rem .9rem;
    line-height: 1.5rem;
    color: white;
    font-size: 1rem;
}

.mazemap_location-name-icon {
    margin-top: -.2rem;
    margin-right: .2rem;
    margin-left: -.4rem;
    color: white;
}

@media (min-width: 400px) {
    .mazemap_link {
        top: .8rem;
        right: .8rem;
    }

    .mazemap_controls {
        right: .8rem;
    }
    
    .mazemap_location-name {
        left: .8rem;
        top: .8rem;
    }
}