@media only screen and (min-width: 1000px) {

  .jobads_filter-container {
    padding: 0;
    margin: 0;
    position: relative;
    display: block;
    background: none;
    box-shadow: none;
  }

  .jobads_filter-container:after {
    content: '';
    width: 2rem;
    height: 2rem;
    position: absolute;
    border-width: .7rem;
    border-color: var(--color-border-light);
    border-style: none solid solid none;
    bottom: 0;
    right: 0;
    transition: .1s;
  }

  .jobads_filter-container:before {
    content: '';
    width: 2rem;
    height: 2rem;
    position: absolute;
    border-width: .7rem;
    border-color: var(--color-border-light);
    border-style: solid solid none none;
    top: 0;
    right: 0;
    transition: .1s;
  }

  
}

  
