/* tags */

.tag {
  font-size: .75rem;
  border-radius: 10em;
  display: block;
  width: fit__container;
  height: fit__container;
  font-weight: 500;
}

.tag__container {
  padding: .2em .9em;
  border-radius: 10em;
}


/* Variants */

.tag--highlight {
  background: var(--color-tag-highlight-bg);
  padding: .1em;
}
.tag--highlight .tag__container {
  background-color: var(--color-bg-body);
}
.tag--highlight .tag__name {
  background: var(--color-tag-highlight-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* some exeptions for light mode (no gradient bg) */
.light .tag--highlight {
  background: var(---color-tag-highlight-bg);
  padding: 0;
  border: .1em solid var(--color-tag-highlight-boder);
}
.light .tag--highlight .tag__container {
  background: var(--color-tag-highlight-bg);
}
.light .tag--highlight .tag__name {
  background: none;
  color: var(--color-tag-highlight-text);
  -webkit-background-clip: inherit;
  -webkit-text-fill-color: var(--color-tag-highlight-text);
}

.tag--danger .tag__container {
  background-color: var(--color-tag-danger-bg);
  border: .1em solid var(--color-tag-danger-border);
}
.tag--danger .tag__name {
  color: var(--color-tag-danger-text); 
}

.tag--info {
  background-color: var(--color-tag-info-bg);
}
.tag--info .tag__container {
  border: .1em solid var(--color-tag-info-border);
}
.tag--info .tag__name {
  color: var(--color-tag-info-text);
}

.tag--success {
  background-color: var(--color-tag-success-bg);
}
.tag--success .tag__container {
  border: .1em solid var(--color-tag-success-border);
}
.tag--success .tag__name {
  color: var(--color-tag-success-text);
}

@media only screen and (min-width: 800px) {
  .tag {
    font-size: .8rem;
  }
}