
.tabs__nav {
    display: flex;
    justify-content: space-between;
    gap: .7rem;
    padding: .7rem 1rem;
    max-width: calc(var(--w-page) + 4rem);
    margin: auto;
}

.tabs__nav-item {
    list-style: none;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--color-bg-surface);
    transition: .2s;
    box-shadow: var(--container-shadow);
    width: 100%;
}

.tabs__nav-item:hover {
    cursor: pointer;
}

.tabs__nav-title {
    padding-bottom: .3rem;
    width: fit-content;
    height: 100%;
    display: block;
    margin: auto;
    transition: .2s;
    color: var(--c-on-box-dim);
    padding: .5rem;
    border-bottom: .3rem solid var(--color-bg-surface);
}

.tabs__nav-item:hover .tabs__nav-title {
    color: var(--c-font-main);
}

.tabs__nav-title--active {
    color: var(--c-font-main);
    border-color: var(--color-primary);
}

.tabs__content {
    background-color: var(--color-bg-surface);
    padding: 1rem;
    box-shadow: var(--container-shadow);
    border-radius: var(--border-radius);
}

@media only screen and (min-width: 800px) {
    .tabs__nav {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media only screen and (min-width: 1200px) {
    .tabs__content {
        margin: 0 2rem;
    }
}