.fund-section {
    margin-bottom: 5rem;
}

.fund-intro {
    margin-bottom: 2rem;
}

.fund-section--highlighted {
    background-color: var(--color-bg-surface);
    padding: 1rem;
}


/* the fund board */

.fund-board__intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 4rem;
}

.fund-board__intro-picture {
    box-sizing: border-box;
    flex: 1 1 20rem;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 33rem;
}

.fund-board__intro-text {
    box-sizing: border-box;
    flex: 1 1 20rem;
    margin: auto;
}

.fund-board__members {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem 0;
}


@media (min-width: 800px) {
    .fund-section--highlighted {
        padding: 1rem 2rem 2rem 2rem;
    }

    .fund-section__container--grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 4rem;
    }

    .fund-board__members {
        gap: 3rem;
    }
}

@media (min-width: 1200px) {
    .fund-section--highlighted {
        border-radius: var(--border-radius-large);
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 1rem 3rem 2rem 3rem;
    }
}



/*  Graph stuff

.fund__graph_box {
    width: 100%;
    margin: auto;
    height: 350px;
}

.fund__graph_box_yield {
    grid-column: 2;
    grid-row: 1;
}

.fund__graph_box_positions {
    grid-column: 1;
    grid-row: 1;
}

.fund__graph_box_buttons {
    margin: auto;
    width: 95%;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-content: space-between;
    border: #666666 1px solid;
}

.fund__graph_button {
    margin: auto;
}

.fund__latest_purchases {
    grid-column: 1 / -1;
    grid-row: 1;
}

.fund__positions {
    grid-column: 1 / -1;
    grid-row: 2;
}

.fund__performance {
    grid-column: 1 / -1;
    grid-row: 3;
}

.fund__horLine {
    grid-row: 2;
    grid-column: 1 / -1;
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
} */