.events_filter-container {
  padding: 1rem 1.5rem;
  display: none;
  background-color: var(--color-bg-surface);
  margin: .5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--container-shadow);
}

.events_list {
  list-style-type: none;
  padding-top: 1rem;
}

/* Seperating week devider */

.event-list-separator {
  position: relative;
  margin: 1.2rem .5rem .2rem .5rem;
}

.event-list-separator::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 100%;
  height: .13rem;
  background-color: var(--color-border-default);
}

.event-list-separator--first {
  margin-top: .2rem;
}

.event-list-separator_text {
  background-color: var(--color-bg-body);
  color: var(--color-text-discreet);
  font-weight: 500;
  font-size: .9rem;
  letter-spacing: .15em;
  z-index: 2;
  display: block;
  width: fit-content;
  padding: 0 1rem;
  margin: 0 auto;
  position: relative;
}

.events_load-more-btn {
  margin: 2rem 0;
}


@media only screen and (min-width: 400px) {

  .events_filter-container {
    margin: .5rem 0;
  }
}

@media only screen and (min-width: 600px) {

  .events_list--grid-view .event-list-separator {
    display: none;
  }

  .event-list-separator {
    margin-right: 1rem;
    margin-left: 1rem
  }
}

@media only screen and (min-width: 1000px) {

  .events {
    grid-template-areas: 'left right';
  }

  .events_section--left {
    grid-area: left;
  }
  
  .events_section--right {
    grid-area: right;
  }

  .events_filter-container {
    padding: 0;
    margin: 0;
    position: relative;
    display: block;
    background: none;
    box-shadow: none;
  }

  .events_filter-container:after {
    content: '';
    width: 2rem;
    height: 2rem;
    position: absolute;
    border-width: .7rem;
    border-color: var(--color-border-light);
    border-style: none solid solid none;
    bottom: 0;
    right: 0;
    transition: .1s;
  }

  .events_filter-container:before {
    content: '';
    width: 2rem;
    height: 2rem;
    position: absolute;
    border-width: .7rem;
    border-color: var(--color-border-light);
    border-style: solid solid none none;
    top: 0;
    right: 0;
    transition: .1s;
  }

  .events_list {
    padding-top: 0;
  }
}