.event-description {
    padding: 1rem;
    position: relative;
    height: 100%;
}

.event-description h1 {
    font-weight: 600;
    font-size: 2rem;
    margin: 1rem 0;
}

.event-description h2 {
    font-weight: 400;
    font-size: 1.6rem;
    margin: 1rem 0;
}

.event-description h3 {
    font-weight: 400;
    font-size: 1.4rem;
    margin: 3rem 0 1rem 0;
}

.event-description h4 {
    font-weight: 600;
    margin: 2rem 0 1rem 0;
    font-size: 1.2rem;
}

.event-description p {
    padding: 1rem 0;
    line-height: 1.8rem;
    color: var(--c-font-regular-p);
}

.event-description ul, .event-description ol {
    margin: 1rem;
}

.event-description ul {
    list-style: none;
}

.event-description ul li:before {
    content: '\2022';
    color: var(--c-orange);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.event-description a:hover {
    text-decoration: underline;
}

/* For mobile: */
@media only screen and (min-width: 400px) {
    .event-description h1 {
        font-size: 2.5rem;
    }

    .event-description h2 {
        font-size: 2.1rem;
    }  

    .event-description h3 {
        font-size: 1.8rem;
    }

    .event-description h4 {
        font-size: 1.3rem;
    }
}


/* For tablets */
@media only screen and (min-width: 800px) {

    .event-description {
        padding: 0;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }
    
    .event-description:after {
        content: '';
        width: 2rem;
        height: 2rem;
        position: absolute;
        border-width: .7rem;
        border-color: var(--c-corner-decor);
        border-style: solid solid none none;
        top: 0;
        right: 0;
        transition: .1s;
    }

    .event-description:before {
        content: '';
        width: 2rem;
        height: 2rem;
        position: absolute;
        border-width: .7rem;
        border-color: var(--c-corner-decor);
        border-style: none solid solid none;
        bottom: 0;
        right: 0;
        transition: .1s;
    }

    .event-description h1 {
      font-size: 3.5rem;
      letter-spacing: .1rem;
    }
  
    .event-description h2 {
      font-size: 2.5rem;
      letter-spacing: .1rem;
      line-height: 3rem;
    }
  
    .event-description h3 {
      font-size: 2rem;
    }
    
    .event-description h4 {
        font-size: 1.3rem;
    }
}