.AboutContent {
    max-width: 75rem;
    width: 100%;
    margin: auto;
}

.AboutContent section {
    margin-bottom: 5rem;
}

.AboutIntro {
    display: grid;
}

.AboutIntro picture {
    display: block;
    max-width: 33rem;
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    padding: 2rem 1rem 1rem 2rem;
}

.AboutIntro picture:before {
    content: ' ';
    position: absolute;
    border: 1rem #fd8738;
    border-style: solid none none solid;
    height: 5rem;
    width: 5rem;
    margin: -1rem 0 0 -1rem;
}

.AboutIntro picture img {
    display: block;
    width: 100%;
    max-width: 33rem;
    max-height: 22rem;
    object-fit: cover;
    border-radius: .3rem;
    clip-path: polygon(7rem 0, 100% 0, 100% 100%, 0 100%, 0 7rem, 2rem 7rem, 2rem 2rem, 7rem 2rem);
}

@media only screen and (min-width: 0px) { 
    .AboutIntro {
        grid-template-columns: 1fr;
    }

}

@media only screen and (min-width: 800px) {
    .AboutIntro {
        grid-template-columns: 1fr 1fr;
    }

}

@media only screen and (min-width: 1200px) {

}
