
.LogChamp {
    padding: 1rem;
    background-color: #181818;
    display: block;
    width: 15rem;
    margin: 0 auto;
    border-radius: .3rem;
}

.ProfilePic img {
    width: 10rem;
    height: 10rem;
    display: block;
    clip-path: circle();
    margin: 1.5rem;
}

.LogChamp p {
    margin: 0;
    padding: 0;
}

.LogChamp>p:nth-child(2) {
    font-size: 1.3rem;
    color: #F08640;
    margin-bottom: 0;
}

.LogChamp p:nth-child(3) {
    color: white;
    margin-top: 0;
}

.LogChamp p:last-child {
    margin-top: 1rem;
}