.accordion {
    background-color: var(--color-bg-surface);
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--container-shadow);
}

.accordion_nav-item {
    font-size: 1.3rem;
    padding: .5rem;
    transition: .2s;
    cursor: pointer;
}

.accordion_nav-item:hover {
    background-color: var(--color-bg-surface-raised);
}

.accordion_icon--left {
    font-size: 2.5rem;
    line-height: 2.25rem;
    transition: .3s;
    margin: 0 .4rem 0 -.2rem;
    color: var(--color-text-primary);
}

.accordion_nav-item--active .accordion_icon--left {
    transform: rotate(90deg);
}

.accordion_content {
    max-height: 0;
    overflow: hidden;
    /* A simple "all .3s" does not work and I dont know why */
    transition: all .5s cubic-bezier(0,1,0,1);
}

.accordion_content--open {
    height: auto;
    max-height: 100rem;
    transition: all .5s cubic-bezier(1,0,1,0);
}

.accordion_content-item {
    font-size: 1rem;
    list-style: none;
    padding: .5rem 1rem .5rem 3.3rem;
}

.accordion_content-item:last-child {
    padding-bottom: 1rem;
}


@media only screen and (min-width: 800px) {
    .accordion_nav-item {
        padding: 1rem;
        font-size: 1.5rem;
    }

    .accordion_content-item {
        padding: .5rem 1rem .5rem 3.8rem;
    }
}

