
:root {
    /* font family */
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Lora', serif;

    /* distances */
    --h-topbar: 4rem;
    --w-page: 73rem;

    /* border-radius */
    --border-radius-small: .2rem;
    --border-radius: .3rem;
    --border-radius-large: .4rem;

    /* headings */
    --font-size-heading-xxl: 3.5rem;
    --font-size-heading-xl: 2.5rem;
    --font-size-heading-lg: 2.1rem;
    --font-size-heading-md: 1.8rem;
    --font-size-heading-sm: 1.4rem;
    --font-size-heading-xs: 1.2rem;
}

@media only screen and (min-width: 800px) {
    :root {
        --h-topbar: 5rem;
    }
}

/* ----------------------------------- */
/* -------------- Layout ------------- */
/* ----------------------------------- */

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .main-header {
        background-color: var(--color-bg-topbar);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px); /* This should provide support for Safari, but needs to be tested */
    }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .main-header {
        background-color: var(--color-bg-topbar-fallback);
    }
}


/* ------ Layout utility classes ------*/

/*
  five column system, where second and forth colum function as a margin to the edges.
  use .page-container as page wrapper and one of three classes for sections.
  3 utility classes for width:
   - normal (center)
   - full-width
   - without-gaps (center but without the 'margin' columns)
*/

.page-container {
    display: grid;
    grid-template-columns: 1fr 1rem minmax(0, var(--w-page)) 1rem 1fr;
}

.page-section--normal {
    grid-column: 3;
}

.page-section--full-width {
    grid-column: 1 / -1; /* Span across all columns */
}

.page-section--without-gaps {
    grid-column: 2 / 5;
}

.page-section--alert {
    margin: 4rem auto;
    max-width: 40rem;
}

@media only screen and (min-width: 800px) {
    .page-container {
        display: grid;
        grid-template-columns: 1fr 2rem minmax(0, var(--w-page)) 2rem 1fr;
        padding-top: 2rem;
    }
}



/* ----------------------------------- */
/* ------------- Headings ------------ */
/* ----------------------------------- */



@media only screen and (min-width: 400px) {

    .heading-1 {
        font-size: 2.5rem;
    }

    .heading-2 {
        font-size: 2.1rem;
    }  

    .heading-3 {
        font-size: 1.8rem;
    }

    .heading-4 {
        font-size: 1.3rem;
    }
}

/* For tablets */
@media only screen and (min-width: 800px) {
    .heading-1 {
        font-size: 3.5rem;
        padding-left: 1.5rem;
    }

    /* Decoration corner */
    .heading-1:before {
        z-index: -1;
        content: '';
        position: absolute;
        width: 2rem;
        height: 2rem;
        border-width: .7rem;
        border-color: var(--color-border-default);
        border-style: solid none none solid;
        margin-left: -1.5rem;
        margin-top: -.8rem;
        z-index: 2;
        transition: .1s;
    }
    
    .heading-2 {
        font-size: 2.5rem;
    }

    .heading-3 {
        font-size: 2rem;
    }
    
    .heading-4 {
        font-size: 1.3rem;
    }
}



/* ----------------------------------- */
/* -------------- Links -------------- */
/* ----------------------------------- */

/* see button component for button links */

a {
    text-decoration: none;
    cursor: pointer;
}

.link {
    font-weight: 500;
}

.link--primary, .link--primary i {
    color: var(--color-link-primary);
}

.link--secondary, .link--secondary i {
    color: var(--color-link-secondary);
}

.link--underscore-hover:hover {
    text-decoration: underline;
}

.link--corner-hover {
    position: relative;
}

.link--corner-hover:after {
    content: ' ';
    position: absolute;
    width: .8em;
    height: .8em;
    bottom: .4em;
    right: .4em;
    border-right: .2em solid transparent;
    border-bottom: .2em solid transparent;
    transition: .2s;
}

.link--corner-hover:hover::after {
    border-color: var(--color-link-primary);
    right: 0;
    bottom: 0;
}



/* ----------------------------------- */
/* ------------ Paragraphs ----------- */
/* ----------------------------------- */

.p--regular {
    padding-bottom: 1.2rem;
    line-height: 1.8em;
    color: var(--color-text-regular);
    max-width: 50rem;
}
  
.p--regular i {
    color: var(--color-text-regular);
}

.p--highlighted {
    padding: .5rem 0;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
    line-height: 1.8rem;
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--color-text-main);
    padding-left: 1rem;
    border-left: .3rem solid var(--color-primary);
    max-width: 50rem;
}

.p--highlighted i {
    color: var(--color-text-main);
}

@media only screen and (min-width: 800px) {
    /* Split wide paragraphs into two columns */
    .p--columns {
        column-count: 2;
        column-gap: 4rem;
        column-rule: .2rem solid var(--color-border-default);
        margin: 1rem 0;
    }

    .p--columns .p--highlighted {
        margin-top: 0;
    }
}
  
/* could not get this container query working, dont know why...
.p--columns {
    display: block;
    container-type: inline-size;
    container-name: p-columns;
}

@container p-columns (width > 800px) {
    .p--columns {
    column-count: 2;
    column-gap: 4rem;
    column-rule: 0.2rem solid var(--color-border-default); 
    margin: 1rem 0;
    }

    .p--columns .p--highlighted {
    margin-top: 0;
    }
}*/



/* ----------------------------------- */
/* -------------- Lists -------------- */
/* ----------------------------------- */

.list {
    list-style: none;
}

.list li {
    color: var(--color-text-regular);
}

.list li:before {
    content: '\2022';
    color: var(--color-primary);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: .5em;
}



/* --------------------------------------- */
/* - Other utility classes and standards - */
/* --------------------------------------- */

.material-symbols-sharp {
    vertical-align: middle;
}

abbr {
    text-decoration-color: var(--color-text-main);
}

.word-break {
    word-break: break-word;
	white-space: pre-line;
	overflow-wrap: break-word;
	-ms-word-break: break-word;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}


/* --------- Skeleton loading --------- */

.skeleton {
    background-color: rgba(100,100,100,.3);
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
}

.skeleton::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -150px;
    height: 100%;
    width: 150px;
    background: linear-gradient(90deg, rgba(90,90,90,0) 0%, rgba(90,90,90,0.2) 50%, rgba(90,90,90,0) 100%);
    animation: skeleton-loading 1.5s infinite;
}

@keyframes skeleton-loading {
    from {
        left: -150px;
    }
    to {
        left: 100%;
    }
}
  

/* --------- Text selection ---------- */

::-moz-selection { /* Code for Firefox */
    color: white !important;
    background: var(--color-primary) !important;
}

::selection {
    color: white !important;
    background: var(--color-primary) !important;
}

