/* grid layout */

.event-page {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'ban'               /* banner */
        'det'               /* details container */
        'des'               /* description container */
        'map';              /* mazemap container */
}

.event-details {
    grid-area: det;
}

.event-banner {
    grid-area: ban;
}

.event-description {
    grid-area: des;
}

.event-map {
	grid-area: map;
}


/* event details */

.event-details {
    padding: 2rem 1rem;
    background-color: var(--color-bg-surface);
    overflow: hidden; /* keeps map close to details on grid, not sure why tho... */
    position: relative;
}


.event-datetime-display {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.event-datetime-display_right {
    margin: auto 0;
}

.event-datetime-display_day {
    font-size: 1.25rem;
    color: var(--color-text-discreet);
    display: flex;
    align-items: center;
}

.event-datetime-display_live-dot {
    width: .8rem;
    height: .8rem;
    background-color: var(--color-green-500);
    border-radius: 50%;
    margin-right: .6rem;
    margin-left: .3rem;
    animation: event-ongoing-pulse 1.5s infinite;
}

.event-datetime-display_time {
    font-size: 1.6rem;
    font-weight: 500;
}

.event-datetime-display_time-icon {
    font-size: 1.8rem;
    margin-top: -.3rem;
    margin-right: .3rem;
}

@keyframes event-ongoing-pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.3);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.event-details_list {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 1rem;
    margin: 1rem 0 2rem 0;
}

.event-details_lable {
    color: var(--color-text-discreet);
    display: inline-flex;
}

.event-details_info {
    font-weight: 500;
    color: var(--color-text-regular);
}

/* lable icons */
.event-details_icon {
    line-height: 1.5rem;
    width: 2rem;
    text-align: center;
    padding-right: .5rem;
}

.event-details_icon--lable-color {
    color: var(--color-text-discreet);
}


.event-details_category-dot {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    display: inline-block;
    margin-right: .5rem;
    transform: translateY(.2rem);
}


.event-details_info {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
	overflow-wrap: break-word;
    word-break: break-word;
}


/* event banner */

.event-banner {
    background-color: rgba(100,100,100,.3);
    display: block;
    aspect-ratio: 10 / 4;
    object-fit: cover;
    width: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
}


/* description */

.event-description {
    padding: 1rem;
    position: relative;
}

.rules {
    max-width: 40rem;
    margin-top: 4rem;
}

.rules_content {
    padding: .5rem 1rem 1rem 1rem;
}

.rules_title {
    font-size: 1.2rem;
}


/* Map */

.event-map {
    margin: 2rem 0;
    padding: 1rem 2rem;
    max-width: 40rem;
}


@media only screen and (min-width: 400px) {

    .event-page {
        padding-top: 0;
    }

    .event-details {
        padding: 2rem;
    }

    .event-description {
        padding: 1rem 2rem;
    }
}

@media only screen and (min-width: 800px) {

    .event-page {
        grid-template-columns: 20rem 1fr;
        grid-template-areas: 
            'det ban'
            'det des'
            'map des'
            '.   des';
        column-gap: 6%;
        padding: 3rem 2rem 0 2rem;
        row-gap: 2rem;
        max-width: calc(var(--w-page) + 4rem);
        margin: auto;
    }

    .event-details {
        padding: 0;
        background: none;
    }

    .event-details:before {
        content: '';
        width: 2.6rem;
        height: 2.6rem;
        position: absolute;
        border-width: .7rem;
        border-color: var(--color-border-default);
        border-style: solid solid none none;
        top: 0;
        right: 0;
        transition: .1s;
    }

    .event-datetime-display {
        margin-right: 1.3rem;
    }

    .event-description {
        padding: 0;
        padding-right: 3rem;
        padding-bottom: 3rem;
    }

    .event-description:after {
        content: '';
        width: 2.6rem;
        height: 2.6rem;
        position: absolute;
        border-width: .7rem;
        border-color: var(--color-border-default);
        border-style: solid solid none none;
        top: 0;
        right: 0;
        transition: .1s;
    }

    .event-description:before {
        content: '';
        width: 2.6rem;
        height: 2.6rem;
        position: absolute;
        border-width: .7rem;
        border-color: var(--color-border-default);
        border-style: none solid solid none;
        bottom: 0;
        right: 0;
        transition: .1s;
    }

    .rules {
        margin-top: 4rem;
    }

    .rules_content {
        padding: .5rem 1.5rem 1rem 1.5rem;
    }

    .event-map {
        padding: 0;
    }   
}