.companies-info {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    max-width: 45rem;
    margin-bottom: 3rem;
}

@media only screen and (min-width: 1000px) {
    .companies-info {
        grid-template-columns: 1fr 1fr;
        column-gap: 4rem;
        row-gap: 2rem;
        margin-bottom: 5rem;
        max-width: none;
    }
}
