.topbar {
  display: flex;
  max-width: 75rem;
  width: 100%;
  margin: auto;
  padding: .5rem;
  height: var(--h-topbar);
  transition: 0.5s;
}

/* logo component from components -> svg */
.logo-small {
  display: block;
  height: 3rem;
  padding: .2rem;
}

.logo-small__letter {
  fill: var(--c-font-main);
  transition: 1s .1s;
}


.topbar__toggle {
  display: flex;
  width: calc(100vw - 8rem);
  justify-content: end;
}

.topbar_profile {
    margin-top: 0.9rem;
    margin-left: 0.7rem;
}


/* main-nav */

.main-nav {
  display: none; /* hide on mobile */
}


/* mobile nav */

.mobile-nav {
  position: fixed;
  top: 6rem;
  width: calc(100% - 2rem);
  max-width: 35rem;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.topbar__hamburger {
  width: 3rem;
  height: 3rem;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
}

.topbar__burger-bun {
  background: var(--c-font-main);
  height: .2rem;
  position: absolute;
  width: 2rem;
  transition: all 0.4s cubic-bezier(0, 0, 0, 1) 0s;
  left: .5rem;
}

.topbar__burger-bun--top {
  top: 1rem;
}

.topbar__burger-bun--bottom {
  top: 1.8rem;
}

.topbar__hamburger--open .topbar__burger-bun--top {
  transform: rotate(-45deg) translate(-.3rem, .3rem);
  background: var(--c-white);
}

.topbar__hamburger--open .topbar__burger-bun--bottom {
  transform: rotate(45deg) translate(-.3rem, -.3rem);
  background: var(--c-white);
}


.mobile-nav__item {
  list-style: none;  
  color: var(--c-white);
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1.5rem;
  overflow: hidden;
  width: auto;
  height: 0;
  opacity: 0;
  padding-left: 1rem;
  border-radius: .3rem;
  transition: background-color .2s, opacity .3s, height .6s, padding .5s;
}

.mobile-nav--open .mobile-nav__item {
  opacity: 1;
  height: 3.9rem; /* line-height + padding */
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}


/* mobile dropdown */

.mobile-nav-dropdown__toggle {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.mobile-nav-dropdown__toggle-arrow {
  margin-left: .5rem;
  font-size: 2rem;
  line-height: inherit;
  color: inherit;
}

/* Arrow animation */
.mobile-nav-dropdown--open .mobile-nav-dropdown__toggle-arrow {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.mobile-nav-dropdown__items {
  list-style: none;  
  color: var(--c-white);
  text-decoration: none;
  font-size: 1.2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  pointer-events: none;
}

.mobile-nav--open .mobile-nav-dropdown--open .mobile-nav-dropdown__items {
  padding-bottom: 1rem;
  pointer-events: auto;
}

.mobile-nav-dropdown__item {
  height: 0;
  opacity: 0;
  padding-left: 1rem;
  border-radius: .3rem;
  line-height: 1.5rem;
  color: var(--c-white);
  transition: opacity .5s, height .5s, padding .5s;
}

.wiki__arrow {
  padding-left: .2rem;
  line-height: 1rem;
  color: inherit;
}

.mobile-nav--open .mobile-nav-dropdown--open .mobile-nav-dropdown__item {
  height: 2.7rem;
  opacity: 1;
  padding-top: .6rem;
  padding-bottom: .6rem;
}

/* higlight active navlink */
.active .mobile-nav__item, .active .mobile-nav-dropdown__item {
  color: var(--c-primary);
}

.topbar__toggle {
  height: 3rem;
  margin-right: 1rem;
}

/* to ensure that the mobile nav can never be open on desktop view */
@media only screen and (max-width: 800px) {
  .topbar--open {
    height: 100vh;
    background-color: var(--c-bg-mobile-nav-open);
  }
  .topbar--open .logo-small__letter {
    fill: var(--c-white);
  }
}


/* For desktop: */
@media only screen and (min-width: 800px) {

  .topbar {
    justify-content: space-between;
    padding: 1rem;
  }

  .topbar--open {
    height: var(--h-topbar);
  }

  .logo-small {
    padding: 0;
  }

  .mobile-nav {
    display: none;
  }

  .topbar__hamburger {
    display: none;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 32rem;
    width: 100%;
  }

  .main-nav__item {
    list-style: none;
    display: block;
    color: var(--c-font-main);
    text-decoration: none;
    font-size: 1rem;
    line-height: 1rem;
    padding: .8rem;
    font-weight: 500;
    cursor: pointer;
  }

  .active .main-nav__item {
    color: var(--c-link);
  }

  .topbar__toggle {
    width: fit-content;
    margin-right: 0;
  }


  /* dropdown menu */

  .main-nav-dropdown__toggle-arrow {
    margin-left: .2rem;
    font-size: 1.6em;
    line-height: inherit;
  }

  /* Arrow animation */
  .main-nav-dropdown:hover .main-nav-dropdown__toggle-arrow,
  .main-nav-dropdown:focus-within .main-nav-dropdown__toggle-arrow {
    transition: transform 0.3s ease;
    color: var(--c-link);
  }
  
  .main-nav-dropdown__wrapper {
    position: absolute;
    padding-top: .5rem;       
    margin-left: -1rem;
    transform: translateY(-1rem);
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    transform: translateY(-1rem);
  }

  .main-nav-dropdown__toggle:hover .main-nav-dropdown__wrapper,
  .main-nav-dropdown__toggle:focus-within .main-nav-dropdown__wrapper {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  .main-nav-dropdown__items {
    padding: .75rem 1.5rem 1rem 1.5rem;
    border-radius: .4rem;
    color: var(--c-font-main);
    box-shadow: var(--topbar-dropdown-shadow);
    text-align: left;
    background-color: var(--c-bg-topbar-fallback); /* fallback because nested 'backdrop-filter: blur' not supported by chrome */
  }
  
  .main-nav-dropdown__item {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    line-height: 1rem;
    font-size: 1rem;
    padding: .6rem .7rem .6rem .2rem;
    font-weight: 500;
  }
  
  .active .main-nav-dropdown__item {
    color: var(--c-link);
  }

  .main-nav-dropdown__leading-icon {
    padding-right: .7rem;
  }

  .main-nav-dropdown__leading-icon.logfont-login {
    font-size: 1.3rem;
    line-height: 1.5rem;
    vertical-align: middle;
    margin-left: .1rem;
  }


  /* Nested 'blur' doesent work on chrome... :(

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .main-nav-dropdown__items {
      background-color: var(--c-bg-topbar);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
    }
  }
  
  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .main-nav-dropdown__items {
      background-color: rgba(20, 20, 20, 0.95);
    }
  } */
}
