.filter-groups {
    row-gap: 2rem;
    display: flex;
    flex-direction: column;
    container-type: inline-size;
    container-name: filter-groups;
    min-height: 5rem; /* to make it less dumb lookin when loading */
}

.filter-groups_buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: auto
}

.filter-groups_reset {
    width: 100%;
}

.filter_title {
    font-size: .9rem;
    letter-spacing: .15em;
    font-weight: 500;
    color: var(--color-text-discreet);
}

.filter_items {
    display: flex;
    flex-wrap: wrap;
}

.filter_items--check {
    flex-direction: column;
    margin: 1rem 0 0 0;
    row-gap: .5rem;
}

.filter_items--tag {
    flex-direction: row;
    gap: .7rem;
    row-gap: .7rem;
    margin: .7rem 0 0 0;
}


@media only screen and (min-width: 400px) {
    .filter-groups_reset {
        width: fit-content;
    }
}


@container filter-groups (width > 400px) {
    .filter_items--check {
        display: grid;
        grid-template-columns: max-content max-content;
        column-gap: 1.5rem;
    }
}

@container filter-groups (width > 600px) {   
    .filter_items--check {
        grid-template-columns: max-content max-content max-content;
    }
}

@media only screen and (min-width: 1000px) {
    .filter-groups_close {
        display: none;
    }
}



/*.filter_search-bar {
    display: flex;
    background-color: none;
    margin-bottom: 1rem;
}

.filter_search-input {
    width: 100%;
    border: none;
    padding: 0 0 .3rem 2.2rem;
    margin-left: -2rem;
    background: none;
    border-bottom: .2rem solid #6d6d6d;
    font-size: 1.2rem;
    line-height: 2rem;

    /* prevent rounded corners on mobile browsers *
    -webkit-appearance: none;
    -webkit-border-radius: 0; 
    border-radius: 0;
}

.filter_search-input::placeholder {
    color: #6d6d6d;
}

.filter_search-input:focus  {
    border-color: var(--color-link-primary);
    outline: none;
}

.filter_search-icon {
    display: block;
    width: 2rem;
    z-index: 5;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #6d6d6d;
}

.filter_search-bar:focus-within .filter_search-icon {
    color: var(--color-link-primary);
}*/