.fund-section {
    margin-bottom: 5rem;
}

.fund-intro {
    margin-bottom: 2rem;
}

.fund-section--highlighted {
    background-color: var(--color-bg-surface);
    padding: 1rem;
}


/* the fund board */

.fund-board_intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 4rem;
}

.fund-board_intro-picture {
    box-sizing: border-box;
    flex: 1 1 20rem;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 33rem;
}

.fund-board_intro-text {
    box-sizing: border-box;
    flex: 1 1 20rem;
    margin: auto;
}

.fund-board_members {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem 0;
}


@media (min-width: 800px) {
    .fund-section--highlighted {
        padding: 1rem 2rem 2rem 2rem;
    }

    .fund-section_container--grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 4rem;
    }

    .fund-board_members {
        gap: 3rem;
    }
}

@media (min-width: 1200px) {
    .fund-section--highlighted {
        border-radius: var(--border-radius-large);
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 1rem 3rem 2rem 3rem;
    }
}
