.lang-toggle {
    cursor: pointer;
    padding: .5rem;
    line-height: 2rem;
    font-size: 1rem;
    width: 4.3rem;
    text-align: center;
    border-radius: var(--border-radius);
    background: none;
    border: none;
}

.lang-toggle:hover {
    background-color: rgb(100,100,100,0.1);
}

.dark .lang-icon {
    fill: white;
}

.light .lang-icon {
    fill: black;
}

.dark .theme-toggle_sun-moon {
    transform: scale(1);
    fill: white;
}

.lang-toggle_icon {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: -.1rem;
}

.lang-toggle_icon--jump {
    animation: jump .4s 1;
}

@keyframes jump {
    40% {
        transform: translateY(-.3rem);
    }
}

@media only screen and (max-width: 800px) {
    .topbar--open .lang-toggle,
    .topbar--open .lang-toggle_icon {
        color: white;
    }

    .topbar--open .lang-icon {
        fill: white;
    }
}
