.event-card-skeleton {
	padding: 1rem;
	transition: .2s;
	width: 100%;
	height: 100%;
}

.event-card-skeleton_image {
    width: 100%;
    aspect-ratio: 10/4;
}

.event-card-skeleton_name {
    width: 80%;
    height: 1.6rem;
    margin: 1rem 0;
}

.event-card-skeleton_details {
    width: 60%;
    height: 1.2rem;
}