.Events {
  max-width: 75rem;
  width: 100%;
  margin: auto;
}

.EventList li {
  list-style-type: none;
}

@media only screen and (min-width: 0px) {
  .EventList {
    padding: 0;
  }
}

@media only screen and (min-width: 800px) {
  .EventList {
    padding: 1rem;
  }
}

@media only screen and (min-width: 1200px) {

}
