@media only screen and (min-width: 0px) {
  .EventImg {
    visibility: hidden;
    width: 0;
  }

  .EventImg img {
    visibility: hidden;
    width: 0;
    height: 0;
  }
	
  .EventContainer {
		background-color: #4e4e4e;
    display: flex;
    height: 5em;
    border: solid 0.2em #5e5e5e;
    border-radius: 1em;
    margin-bottom: 1em;
  }

  .EventDate {
		opacity: 0.6;
		margin-left: 2em;
		margin-right: 2em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

  .EventDateDay {
    margin: 0 !important;
    font-size: 2em;
  }
  
  .EventDateMonth {
    margin: 0 !important;
    margin-top: -0.5em !important;
    font-size: 1.5em;
  }

	.EventInfo {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;		
	}

	.EventInfo h4 {
		font-size: 1.5em;
	}
	
  .EventInfoSub {
		display: flex;
		opacity: 0.6;
	}

	.EventInfoSub p {
		margin-top: 0;
		font-size: 1.2em;
	}

	.EventInfoSpacer {
		width: 1em;
	}
}

@media only screen and (min-width: 800px) {
	.EventImg {
		visibility: visible;
		height: 10em;
		width: 10em;
	}

  .EventImg img {
    visibility: visible;
		object-fit: cover;
		height: 10em;
		width: 10em;
    border-radius: 1em 0 0 1em;
	}

  .EventContainer {
    height: 10em;
  }

	.EventDateDay {
		font-size: 4em;
	}
	
	.EventDateMonth {
		font-size: 2.5em;
	}

	.EventInfo h4 {
		font-size: 2em;
	}
	
	.EventInfoSub p {
		font-size: 1.5em;
	}

}


@media only screen and (min-width: 1200px) {
	.EventImg {
		width: 15em;
	}

	.EventImg img {
		width: 15em;
	}

  .EventInfoSub p {
    font-size: 1.8em;
  }
}
