.EventListItem {
	display: inline-flex;
	width: 100%;
	cursor: pointer;
	transition: .2s;
	-webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
	overflow-wrap: break-word;
}

.EventListItem:hover {
	background-color: #212121;
}

.EventListItemInfo {
	width: 100%;
	min-width: 10rem;
	margin: auto 0;
}

.EventListItemInfoName {
	font-weight: 400;
	margin: 0;
}

.EventListItemInfoDetails {
	padding-top: .5rem;
	display: inline-block;
	font-size: 1rem;
	line-height: 1.2rem;
	color: #a9a9a9;
}

.EventListItemInfoDetails>div {
	display: inline-block;
	color: #a9a9a9;
}

.EventListItemInfoDetails i {
	padding-right: .2rem;
	color: #a9a9a9;
}

.EventListItemInfoDetailsDivider {
	font-weight: 900;
	padding: 0 .5rem;
}

.EventListItemImg img, .EventListItemImg svg {
	display: block;
	max-height: 5rem;
    height: 100%;
	width: 12.5rem;
    object-fit: cover;
	border-radius: .2rem;
}

@media only screen and (min-width: 0px) {

	.EventListItem {
		padding: .5rem 1rem;
	}

	.EventListItemInfo {
		padding: .5rem 0 .1rem .5rem;
	}

	.EventListItemInfoName {
		font-size: 1.3rem;
		line-height: 1.3rem;
	}

	.EventListItemImg {
	    display: none;
	}
}

@media only screen and (min-width: 800px) {

	.EventListItem {
		padding: 1rem;
		border-radius: .2rem;
	}

	.EventListItemInfo {
		padding: .5rem 1rem .1rem 1rem;
	}

	.EventListItemInfoName {
		font-size: 1.5rem;
		line-height: 1.5rem;
	}

	.EventListItemImg {
		display: block;
	}
}

@media only screen and (min-width: 1200px) {

}
