.not-found {
    padding: 4rem 1rem;
    max-width: 40rem;
    margin: auto;
}

.not-found_pic {
    display: block;
    max-width: 40rem;
    width: 100%;
    margin: auto;
}

.not-found_img {
    display: block;
    width: 100%;
    max-width: 40rem;
    margin: auto;
}

.not-found_text {
    display: block;
    width: 100%;
    margin-top: 1rem;
}

@media only screen and (min-width: 800px) {
    .not-found {
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 75rem;
        gap: 2rem;
    }

    .not-found_text {
        margin: auto;
        width: fit-content;
        text-align: left;
        padding-right: 1rem;
    }
}