.topbar {
  display: flex;
  max-width: calc(var(--w-page) + 2rem);
  width: 100%;
  margin: auto;
  padding: 0.5rem;
  height: var(--h-topbar);
  transition: 0.5s;
}

.topbar_logo {
  display: block;
  height: 3rem;
  padding: 0.2rem;
}

.topbar_toggle {
  display: flex;
  width: calc(100vw - 8rem);
  justify-content: flex-end;
}

/* not currently in use */
.topbar_profile {
  margin-top: 0.9rem;
  margin-left: 0.7rem;
}

/* main-nav */

.main-nav {
  display: none; /* hide on mobile */
}

/* mobile nav */

.mobile-nav {
  position: fixed;
  top: 6rem;
  width: calc(100% - 2rem);
  max-width: 35rem;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.topbar_hamburger {
  width: 3rem;
  height: 3rem;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
}

.topbar_burger-bun {
  background: var(--color-text-main);
  height: 0.2rem;
  position: absolute;
  width: 2rem;
  transition: all 0.4s cubic-bezier(0, 0, 0, 1) 0s;
  left: 0.5rem;
}

.topbar_burger-bun--top {
  top: 1rem;
}

.topbar_burger-bun--bottom {
  top: 1.8rem;
}

.topbar_hamburger--open .topbar_burger-bun--top {
  transform: rotate(-45deg) translate(-0.25rem, 0.3rem);
  background: var(--color-white);
}

.topbar_hamburger--open .topbar_burger-bun--bottom {
  transform: rotate(45deg) translate(-0.25rem, -0.3rem);
  background: var(--color-white);
}

.mobile-nav_item {
  list-style: none;
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1.5rem;
  overflow: hidden;
  width: auto;
  height: 0;
  opacity: 0;
  padding-left: 1rem;
  border-radius: var(--border-radius);
  transition:
    background-color 0.2s,
    opacity 0.3s,
    height 0.6s,
    padding 0.5s;
}

.mobile-nav--open .mobile-nav_item {
  opacity: 1;
  height: 3.9rem; /* line-height + padding */
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

/* mobile dropdown */

.mobile-nav-dropdown_toggle {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.mobile-nav-dropdown_toggle-arrow {
  margin-left: 0.5rem;
  font-size: 2rem;
  line-height: inherit;
  color: inherit;
}

/* Arrow animation */
.mobile-nav-dropdown--open .mobile-nav-dropdown_toggle-arrow {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.mobile-nav-dropdown_items {
  list-style: none;
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  pointer-events: none;
}

.mobile-nav--open .mobile-nav-dropdown--open .mobile-nav-dropdown_items {
  padding-bottom: 1rem;
  pointer-events: auto;
}

.mobile-nav-dropdown_item {
  height: 0;
  opacity: 0;
  padding-left: 1rem;
  border-radius: var(--border-radius);
  line-height: 1.5rem;
  color: var(--color-white);
  transition:
    opacity 0.5s,
    height 0.5s,
    padding 0.5s;
}

.wiki_arrow {
  padding-left: 0.2rem;
  line-height: 1rem;
  color: inherit;
}

.mobile-nav--open .mobile-nav-dropdown--open .mobile-nav-dropdown_item {
  height: 2.7rem;
  opacity: 1;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

/* higlight active navlink */
.active .mobile-nav_item,
.active .mobile-nav-dropdown_item {
  color: var(--color-primary);
}

.topbar_toggle {
  height: 3rem;
  margin-right: 1rem;
}

/* to ensure that the mobile nav can never be open on desktop view */
@media only screen and (max-width: 800px) {
  .topbar--open {
    height: 100vh;
    background-color: var(--color-bg-topbar-open);
  }
  .topbar--open .logo-small_letter {
    fill: var(--color-white);
  }
}

/* For desktop: */
@media only screen and (min-width: 800px) {
  .topbar {
    justify-content: space-between;
    padding: 1rem;
  }

  .topbar--open {
    height: var(--h-topbar);
  }

  .topbar_logo {
    padding: 0;
  }

  .mobile-nav {
    display: none;
  }

  .topbar_hamburger {
    display: none;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .main-nav_item {
    list-style: none;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1rem;
    padding: 0.8rem;
    font-weight: 500;
    cursor: pointer;
  }

  .active .main-nav_item {
    color: var(--color-link-primary);
  }

  .topbar_toggle {
    width: fit-content;
    margin-right: 0;
  }

  /* dropdown menu */

  .main-nav-dropdown_toggle-arrow {
    margin-left: 0.2rem;
    font-size: 1.6em;
    line-height: inherit;
  }

  /* Arrow animation */
  .main-nav-dropdown:hover .main-nav-dropdown_toggle-arrow,
  .main-nav-dropdown:focus-within .main-nav-dropdown_toggle-arrow {
    transition: transform 0.3s ease;
    color: var(--color-link-primary);
  }

  .main-nav-dropdown_wrapper {
    position: absolute;
    padding-top: 0.5rem;
    margin-left: -1rem;
    transform: translateY(-1rem);
    opacity: 0;
    pointer-events: none;
    transition:
      opacity 0.2s ease-in-out,
      transform 0.2s ease-in-out;
    transform: translateY(-1rem);
    z-index: 1;
  }

  .main-nav-dropdown_toggle:hover .main-nav-dropdown_wrapper,
  .main-nav-dropdown_toggle:focus-within .main-nav-dropdown_wrapper {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  .main-nav-dropdown_items {
    padding: 0.75rem 1.5rem 1rem 1.5rem;
    border-radius: var(--border-radius-large);
    box-shadow: var(--topbar-dropdown-shadow);
    background-color: var(
      --color-bg-topbar-fallback
    ); /* fallback because nested 'backdrop-filter: blur' not supported by chrome */
  }

  .main-nav-dropdown_item {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    line-height: 1rem;
    font-size: 1rem;
    padding: 0.6rem 0.7rem 0.6rem 0.2rem;
    font-weight: 500;
  }

  .active.main-nav-dropdown_item {
    color: var(--color-link-primary);
  }

  .main-nav-dropdown_leading-icon {
    padding-right: 0.7rem;
  }

  .main-nav-dropdown_leading-icon.logfont-login {
    font-size: 1.3rem;
    line-height: 1.5rem;
    vertical-align: middle;
    margin-left: 0.1rem;
  }

  /* Nested 'blur' doesent work on chrome... :(

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .main-nav-dropdown_items {
      background-color: var(--c-bg-topbar);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
    }
  }
  
  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .main-nav-dropdown_items {
      background-color: rgba(20, 20, 20, 0.95);
    }
  } */
}
