.FooterContainer {
  color: white;
  padding: 2rem;
  width: 100%;
  margin: auto;
}

.FooterMsg {
  width: 100%;
  display: block;
  font-size: .9rem;
}

.BottomLine {
  font-size: .75rem;
  max-width: 30rem;
  width: 100%;
  margin: 0;
}

@media only screen and (min-width: 0px) {
  .FooterContainer {
    max-width: 30rem;
  }

  .FooterMsg {
    padding: 0;
    margin: auto;
    max-width: 30rem;
  }
}

@media only screen and (min-width: 800px) {
  .FooterContainer {
    max-width: 77rem;
  }
  
  .FooterContainer div {
    display: flex;
    justify-content: space-between;
  }

  .FooterMsg {
    padding: 2rem 1rem 4rem 0;
    margin: 0;
    max-width: 20rem;
  }
}
