.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #101010;
  width: 60%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 20%;
  padding-right: 20%;

  border-top: 1px solid #f0802a;
}


.Footer p, .Footer i, .Footer a {
  font-size: 9pt;
  color: white;
}

.Footer a:hover {
  color: #f0802a;
}

