.FooterContainer {
  max-width: 75rem;
  margin: auto;
}

.FooterContainer>div {
  display: flex;
}

.FooterContainer picture {
  display: block;
}

.FooterContainer picture img {
  display: block;
  height: 4rem;
}

.FooterContainer p {
  font-size: .9rem;
  line-height: 1.2rem;
  padding: 0;
  margin: 0;
}

.FooterMsg {
  margin-bottom: 1rem !important;
}

@media only screen and (min-width: 0px) {

  .FooterContainer {
    padding: 1rem;
  }

  .FooterContainer>div {
    flex-direction: column;
    padding: 0 0 4rem 0;
  }

  .FooterContainer picture img {
    margin: 3rem auto;
  }
}

@media only screen and (min-width: 600px) {

  .FooterContainer {
    padding: 2rem;
  }

  .FooterContainer>div {
    flex-direction: row;
    padding: 2rem 0 10rem 0;
  }

  .FooterContainer picture img {
    margin: auto;
  }

  .FooterContainer>div {
    justify-content: space-between;
  }
}
