.SocialLinks {
  display: flex;
}

.SocialLinks a {
  height: 1.5rem;
}

.SocialIcon img {
  display: block;
  transition: .2s;
  height: 1.5rem;
}

.SocialLinks img:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 0px) {
  .SocialLinks {
    padding: 3rem 0;
    margin: auto;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-center;
  }
}

@media only screen and (min-width: 800px) {
  .SocialLinks {
    padding: 2rem 0 2rem 1rem;
    margin: 0;
    gap: 2rem;
  }
}
