.SocialLinks {
  display: grid;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.SocialLinks a {
  display: block;
  width: 2rem;
  height: 2rem;
  margin: auto;
}

.SocialLinks a i {
  line-height: 2rem;
  font-size: 1.5rem;
  transition: .2s;
  text-align: center;
  display: block;
}

.SocialLinks a i:hover {
  font-size: 1.8rem;
}

@media only screen and (min-width: 0px) {
  .SocialLinks {
    margin: auto;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    max-width: 12rem;
  }
}

@media only screen and (min-width: 600px) {
  .SocialLinks {
    margin: 0;
    grid-auto-flow: column;
    max-width: 20rem;
    gap: 0;
  }
}
