.jobad-description {
    padding: 1rem;
    position: relative;
    height: 100%;
}

.jobad-description__h1 {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4em;
}

.jobad-description__published {
    font-size: .9rem;
    color: var(--c-font-discret) !important;
    padding: 0 !important;
}

.jobad-description h2 {
    font-weight: 400;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.jobad-description h3 {
    font-weight: 400;
    font-size: 1.4rem;
    margin: 3rem 0 1rem 0;
}

.jobad-description h4 {
    font-weight: 600;
    margin: 2rem 0 1rem 0;
    font-size: 1.2rem;
}

.jobad-description p {
    padding: 1rem 0;
    line-height: 1.8rem;
    color: var(--c-font-regular);
    max-width: 40rem;
}

.jobad-description ul, .jobad-description ol {
    margin: 1rem;
}

.jobad-description ul {
    list-style: none;
}

.jobad-description li {
    color: var(--c-font-regular);
}

.jobad-description ul li:before {
    content: '\2022';
    color: var(--c-primary);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -.5em;
}

.jobad-description a:hover {
    text-decoration: underline;
}

/* For mobile: */
@media only screen and (min-width: 400px) {
    .jobad-description h1 {
        font-size: 1.8rem;
    }

    .jobad-description h2 {
        font-size: 1.5rem;
    }  

    .jobad-description h3 {
        font-size: 1.2rem;
    }

    .jobad-description h4 {
        font-size: 1rem;
    }
}


/* For tablets */
@media only screen and (min-width: 800px) {

    .jobad-description {
        padding: 0;
        padding-right: 2.5rem;
        padding-bottom: 2rem;
    }
    
    .jobad-description:after {
        content: '';
        width: 2rem;
        height: 2rem;
        position: absolute;
        border-width: .7rem;
        border-color: var(--c-corner-decor);
        border-style: solid solid none none;
        top: 0;
        right: 0;
        transition: .1s;
    }

    .jobad-description:before {
        content: '';
        width: 2rem;
        height: 2rem;
        position: absolute;
        border-width: .7rem;
        border-color: var(--c-corner-decor);
        border-style: none solid solid none;
        bottom: 0;
        right: 0;
        transition: .1s;
    }

    .jobad-description h1 {
      font-size: 2.3rem;
      letter-spacing: .1rem;
    }
  
    .jobad-description h2 {
      font-size: 2rem;
      letter-spacing: .1rem;
      line-height: 3rem;
    }
  
    .jobad-description h3 {
      font-size: 1.8rem;
    }
    
    .jobad-description h4 {
        font-size: 1.5rem;
    }
}