.contact-card__text {
    margin-bottom: 2rem;
}

.contact-card__map {
    padding: 2rem;
    max-width: 40rem;
    margin: auto;
    width: 100%;
}


@media only screen and (min-width: 600px) {
    .contact-card__info {
        display: flex;
        gap: 2rem;
    }

    .contact-card__text {
        max-width: 16rem;
        width: 100%;
    }

    .contact-card__map {
        padding: 2rem 0;
    }
}