.checktag {
    cursor: pointer;
    position: relative;
    width: fit-content;
}

.checktag:hover .checktag_name {
    background-color: color-mix(in srgb, var(--color-checktag-bg) 90%, black 20%);
}

/* Visually hide the default checktag but keep it accessible */
.checktag_input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

/* for keyboard navigation */
.checktag_input:focus-visible + .checktag_name {
    box-shadow: 0 0 0 .1rem rgb(0, 42, 255); /* fix color later */
}

.checktag_name {
    cursor: pointer;
    background-color: var(--color-checktag-bg);
    color: var(--color-checktag-text);
    padding: .4em .9em;
    border-radius: .2em;
    line-height: 1.3em;
}

.checktag_input:checked + .checktag_name {
    background-color: var(--color-btn-primary-bg);
    padding-left: 1.6rem;
    padding-right: .6rem;
    color: var(--color-text-on-primary);
}

.checktag_name:before {
    content: '';
    position: absolute;
    display: none;
}

.checktag_input:checked + .checktag_name:before {
    display: block;
}

/* checkmark tick */
.checktag_name:before {
    left: .5rem;
    top: .5rem;
    width: .3rem;
    height: .7rem;
    border: solid white;
    border-width: 0 .18rem .18rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}