.imagecarousel {
    /* aligns with other sections without 
    using margin og padding */
    max-width: calc(var(--w-page) - 2rem);
    margin: auto;
}

.imagecarousel .tabs__nav {
    justify-content: space-between;
}

.imagecarousel .tabs__nav-item {
    width: 100%;
}

.imagecarousel .tabs__nav-title {
    padding: 0;
}

/* breaking BEM rules because the svg is a component */
.imagecarousel .tabs__nav-title svg {
    display: block;
    width: 100%;
    max-width: 4rem;
}

.imagecarousel .tabs__content {
    padding: 1rem 1rem 2rem 1rem;
}

@media only screen and (min-width: 800px) {

    .verv-section {
        margin-bottom: 8rem;
    }

    .verv-intro__p {
        max-width: 50rem;
        margin-top: 2rem;
    }

    .verv-intro__grid-container {
        flex-wrap: nowrap;
        padding: 1rem;
    }

    .verv-intro__grid-container picture {
        margin: 0;
    }
}

.triplecarousel {
    max-width: calc(var(--w-page) - 2rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.carouselimage {
    margin: 1rem auto;
    justify-content: space-evenly;
    position: relative;
    display: block;
    width: 22rem;
    aspect-ratio: 3/2;
    animation: slide 10s linear infinite;
}

@keyframes slide {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}