
.verv-section {
    margin-bottom: 3rem; /* creates nice spacing between content */
}


/* gave headers and paragrapfs margins instead of giving it to 
   the 'verv-section' class because the 'tabs-section' is an exception */
.verv-section__heading {
    margin-left: 1rem;
    margin-right: 1rem;
}

.verv-section__p {
    margin-left: 1rem;
    margin-right: 1rem;
}


/* intro section */

.verv-intro__p {
    max-width: 50rem;
}

.verv-intro__grid-container {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
}

.verv-intro__grid-container .accordion {
    width: 100%;
}

/* BEM exception becasue its a picture component */
.verv-intro__grid-container picture {
    max-width: 33rem;
    width: 100%;
    margin: 3rem 1rem 1rem 1rem;
}


/* apply section */
.apply-section {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.apply-title {
    align-self: flex-start;
    margin-left: 1rem;
    margin-right: 1rem;
}

.apply-body {
    align-self: flex-start;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.apply-action {
    align-self: center;
    display: grid;
    background-color: #fd8732;
    border-radius: 10px;
    place-items: center;
    width: 200px;
    color: white;
    font-weight: 500;
    height: 50px;
    font-size: larger;
}

@media only screen and (min-width: 800px) {

    .verv-section {
        margin-bottom: 0;
    }

    .verv-intro__p {
        max-width: 50rem;
        margin-top: 2rem;
    }

    .verv-intro__grid-container {
        flex-wrap: nowrap;
        padding: 1rem;
    }

    .verv-intro__grid-container picture {
        margin: 0;
    }
}