
.verv-page__section {
    margin-bottom: 2rem;
}

.verv-apply {
    margin-top: 2rem;
}


/* intro section */
.verv-intro__p {
    max-width: 50rem;
    margin-top: 0;
}

/* apply section */
.verv-apply__button {    
    font-size: 1rem;
    margin-top: 2rem;
}

@media only screen and (min-width: 400px) {
    .verv-apply {
        max-width: 50rem;
        margin-left: auto;
        margin-right: auto;
    }

    .verv-apply__button{    
        width: fit-content;
        font-size: 1.3rem;
        margin: 2rem auto 0 auto;
    }
}

@media only screen and (min-width: 800px) {
    .verv-page__section {
        margin-bottom: 5rem;
    }
}