
.tabs_nav {
    display: flex;
    justify-content: space-between;
    gap: .7rem;
    padding: .7rem 1rem;
    max-width: calc(var(--w-page) + 4rem);
    margin: auto;
}

.tabs_nav-item {
    list-style: none;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--color-bg-surface);
    transition: .2s;
    box-shadow: var(--container-shadow);
    width: 100%;
}

.tabs_nav-item:hover {
    cursor: pointer;
}

.tabs_nav-item:hover .tabs_nav-title {
    color: var(--color-text-main);
}

@media only screen and (min-width: 800px) {
    .tabs_nav {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
