.group-toggle {
  display: inline-flex;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.group-toggle--outlined {
  border: .13rem solid var(--color-btn-secondary-outlined);
  padding: 0;
}

.group-toggle--ghost {
  padding: .13rem 0;
}

.group-toggle .group-toggle__button {
  border: none;
  border-right: .13rem solid var(--color-btn-secondary-outlined);
  border-radius: 0;
}

.group-toggle--ghost .group-toggle__button--first {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.group-toggle--ghost .group-toggle__button--last {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  border-right: none;
}

.group-toggle  .group-toggle__button--last {
  border-right: none;
}

.group-toggle__button.active {
  pointer-events: none;
}


/* Size-specific styles */
.group-toggle--small .group-toggle__button.button--icon-only {
  padding-right: .6rem;
  padding-left: .6rem;
}

.group-toggle--medium .group-toggle__button.button--icon-only {
  padding-right: .8rem;
  padding-left: .8rem;
}

.group-toggle--large .group-toggle__button.button--icon-only {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
}

.group-toggle--xl .group-toggle__button.button--icon-only {
  padding-right: 1.8rem;
  padding-left: 1.8rem;
}