
.ContactCard {
    max-width: 75rem;
    width: 100%;
}

.ContactCardInfo {
    margin-bottom: 2rem;
}

.ContactCard h4 {
    margin: 2rem 0;
}

.ContactCard h4:first-child {
    margin: 0;
}

.ContactCard p {
    margin: 0;
    padding: 0;
}

.ContactCard>div {
    margin: 1rem;
} 

.ContactCard iframe {
    display: block;
    max-width: 35rem;
    margin: auto;
    width: 100%;
    height: 30rem;
}

@media only screen and (min-width: 0px) {
    .ContactCard iframe {
        padding: 0 1rem;
    }
}

@media only screen and (min-width: 800px) {
    
}

@media only screen and (min-width: 1200px) {
    .ContactCard>div {
        display: flex;
    }
}
