/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Defaults */
* {
  margin: 0;  
  font-family: 'Open Sans', sans-serif;
}

/* For mobile: */
@media only screen and (min-width: 0px) {
  .App {
    background-color: #2b2b2b;
    min-height: 100vh;
  }
   
  main {
    min-height: 90vh;
    padding-left: 15%;
    padding-right: 15%;
  }
}

/* For tablets */
@media only screen and (min-width: 800px) {
  .App {
    background-color: #2b2b2b;
    min-height: 100vh;
  }
}

/* For desktop: */
@media only screen and (min-width: 1200px) {
  .App {
    background-color: #2b2b2b;
    min-height: 100vh;
  }
}
