.footer-content {
  margin: auto;
  padding: 4rem 1rem 1rem;
}


/* logos */

.footer-content_logos-conteiner {
  display: grid;
  gap: 4rem;
  max-width: 15rem;
  width: 100%;
  margin: 0 auto;
}

.footer-content_logo-text {
  text-align: center;
  color: var(--color-text-footer-discret);
  padding-top: 2rem;
}

.footer-content_logo-image,
.footer-content_logo-picture {
  display: block;
  width: 100%;
}


/* contact info */

.footer-content_contact {
  display: grid;
  width: 100%;
  max-width: 15rem;
  margin: 4rem auto;
  gap: 2rem;
}

.footer-content_contact-header {
  color: var(--color-text-footer-discret);
  font-weight: 500;
  font-size: .9rem;
  letter-spacing: .15em;
  padding-bottom: .8rem;
}

.footer-content_contact-text,
.footer-content_contact-link {
  color: var(--color-text-footer);
}


/* bottom info */

.footer-content_bottom {
  display: grid;
  grid-template-columns: auto min-content;
  gap: 2rem;
  margin-top: 6rem;
  align-items: end;
}

.footer-content_bottom-text {
  color: var(--color-text-footer-discret);
  font-size: .8rem;
}

.footer-content_version-tag {
  background-color: rgba(200,200,200,.1);
  padding: .4rem .6rem;
  border-radius: var(--border-radius);
  color: white;
  letter-spacing: .05em;
  font-weight: 600;
}


@media only screen and (min-width: 400px) {
  .footer-content_contact {
    grid-template-columns: 1fr 1fr;
    max-width: 22rem;
  }

  .footer-content_contact-section {
    justify-self: center;
  }
}


@media only screen and (min-width: 800px) {

  .footer-content {
    max-width: calc(var(--w-page) + 4rem);
    padding: 5rem 3rem 1rem;
    display: grid;
    column-gap: 3rem;
    grid-template-columns: 18rem auto;
    grid-template-areas: 
      "logos contact"
      "logos icons"
      "bottom bottom";
  }

  .footer-content_social-links {
    grid-area: icons;
    justify-self: end;
  }

  .footer-content_logos-conteiner {
    grid-area: logos;
    max-width: 18rem;
    gap: 5rem;
  }

  .footer-content_contact {
    grid-area: contact;
    grid-template-columns: 1fr 1fr;
    max-width: 34rem;
    justify-self: end;
    margin: 0;
    gap: 0;
  }
  
  .footer-content_contact-section {
    justify-self: end;
  }

  .footer-content_bottom {
    grid-area: bottom;
  }
}
