.Welcome {
    width: 100%;
    padding: 4rem 1rem;
}

.Welcome img {
    width: 100%;
}

.LandingPageInfo {
    max-width: 75rem;
    width: 100%;
    margin: auto;
    display: grid;
    column-gap: 2rem;
}

.LandingPageInfo div {
    grid-area: a;
    display: block;
    max-width: 33rem;
    width: 100%;
    margin: auto;
}


.LandingPageInfo p {
    padding: 1rem 0;
    color: rgb(200, 200, 200);
}

.LandingPageInfo a {
    grid-area: c;
    display: block;
    padding: 1rem;
    max-width: 33rem;
    width: 100%;
    margin: auto;
    font-size: 1.2rem;
}

.LandingPageInfo a:after {
    content: ' ';
    position: absolute;
    width: 1rem;
    height: 1rem;
    border: .2rem none #f0802a;
    margin-top: 1rem;
    margin-left: -.2rem;
    transition: .2s;
    cursor: pointer;
}

.LandingPageInfo a:hover::after {
    border-style: none solid solid none;
}

.LandingPageInfo picture {
    grid-area: b;
    display: block;
    max-width: 33rem;
    width: 100%;
    margin: auto;
    padding: 1rem 0 0 1rem;
}

.LandingPageInfo picture:before {
    content: ' ';
    position: absolute;
    border: 1rem #fd8738;
    border-style: solid none none solid;
    height: 5rem;
    width: 5rem;
    margin: -1rem 0 0 -1rem;
}

.LandingPageInfo img {
    display: block;
    width: 100%;
    max-width: 33rem;
    max-height: 22rem;
    object-fit: cover;
    height: 100%;
    border-radius: .5rem;
    clip-path: polygon(7rem 0, 100% 0, 100% 100%, 0 100%, 0 7rem, 2rem 7rem, 2rem 2rem, 7rem 2rem);
}


@media only screen and (min-width: 0px) {
    .LandingPageInfo {
        padding: 1rem;
        margin-bottom: 3rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "b"
            "a"
            "c";
    }
}
  
@media only screen and (min-width: 800px) {
    .LandingPageInfo {
        padding: 3rem;
        margin-bottom: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .LandingPageInfo:nth-child(odd) {
        grid-template-areas: 
            "b a"
            "b c";
    }

    .LandingPageInfo:nth-child(even) {
        grid-template-areas: 
            "a b"
            "c b";
    }

    .LandingPageInfo:nth-child(even) a {
        text-align: right;
    }

    .LandingPageInfo picture {
        margin-bottom: auto;
    }
}
  