
@media only screen and (min-width: 800px) {
  .LandingPage {
    background-color: #3b3b3b;
    color: white; 
    padding: 2em;
    border-radius: 0.5em;
  }

  .LandingPage h3 {
    font-size: 2em;
  }
  
  .LandingPage p {
    margin-top: 0.5em;
  }

}
