.Welcome {
    width: 100%;
    padding: 4rem 1rem;
    background: radial-gradient(circle, rgba(10,10,10) 0%, rgba(24,24,24) 100%);
}

.Welcome img {
    width: 100%;
    max-width: 40rem;
    margin: auto;
    display: block;
}

.Welcome p {
    text-align: center;
    font-size: 2.5rem;
    line-height: 3rem;
    color: white;
    margin: 0;
    padding: 6rem 0 2rem 0;
}

.gradient-text-color {
    background: linear-gradient(90deg, #f100ff, #00fff6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.LandingPageInfo {
    max-width: 75rem;
    width: 100%;
    margin: 3rem auto;
    display: grid;
    column-gap: 2rem;
}

.LandingPageInfo div {
    grid-area: a;
    max-width: 33rem;
    width: 100%;
    margin: auto;
}


.LandingPageInfo p {
    padding: 1rem 0;
}

.LandingPageInfo a {
    padding: 1rem;
    font-size: 1.2rem;
    width: fit-content;
    display: block;
}

.LandingPageInfo a:after {
    content: ' ';
    position: absolute;
    width: .8rem;
    height: .8rem;
    border: .2rem none #f0802a;
    margin-top: 1.2rem;
    margin-left: -.2rem;
    transition: .2s;
    cursor: pointer;
}

.LandingPageInfo a:hover::after {
    border-style: none solid solid none;
}

.LandingPageInfo picture {
    grid-area: b;
    display: block;
    max-width: 33rem;
    width: 100%;
    margin: auto;
    padding: 1rem 0 0 1rem;
}

.LandingPageInfo picture:before {
    content: ' ';
    position: absolute;
    border: 1rem #fd8738;
    border-style: solid none none solid;
    height: 5rem;
    width: 5rem;
    margin: -1rem 0 0 -1rem;
}

.LandingPageInfo img {
    display: block;
    width: 100%;
    max-width: 33rem;
    max-height: 22rem;
    object-fit: cover;
    height: 100%;
    border-radius: .3rem;
    clip-path: polygon(7rem 0, 100% 0, 100% 100%, 0 100%, 0 7rem, 2rem 7rem, 2rem 2rem, 7rem 2rem);
}


@media only screen and (min-width: 0px) {
    .LandingPageInfo {
        padding: 1rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "b"
            "a";
    }
}
  
@media only screen and (min-width: 800px) {
    .LandingPageInfo {
        padding: 3rem;
        grid-template-columns: 1fr 1fr;
    }

    .LandingPageInfo:nth-child(odd) {
        grid-template-areas: 
            "b a";
    }

    .LandingPageInfo:nth-child(even) {
        grid-template-areas: 
            "a b";
    }

    .LandingPageInfo:nth-child(even) a {
        text-align: right;
    }

    .LandingPageInfo picture {
        margin-bottom: auto;
    }
}
  