.decor-pic {
  position: relative;
  width: 100%;
}

.decor-pic_svg--1 {
  border-radius: 0 .3rem .3rem .3rem;
}

.decor-pic_svg--2 {
  border-radius: .3rem 0 .3rem .3rem;
}

.decor-pic_svg--3 {
  border-radius: .3rem .3rem 0 .3rem;
}

.decor-pic_svg--4 {
  border-radius: .3rem .3rem .3rem 0;
}

.decor-pic_rect {
  fill: var(--color-primary);
}

.decor-pic_img-placeholder {
  fill: rgba(100,100,100,.3);
}

.decor-pic_img {
  transition: opacity .5s;
  object-fit: cover;
}

.decor-pic_img--hidden {
  opacity: 0;
}

.decor-pic_img--visible {
  opacity: 1;
}