.date-tile {
	height: fit-content;
	display: flex;
	width: fit-content;
	justify-content: center;
	border-radius: .3rem;
}

.date-tile--wide {
	padding-top: .7rem;
}

.date-tile__date {
	width: fit-content;
}

.date-tile__devider {
	font-size: bold;
	font-size: 1.5rem;
	line-height: 2.2rem;
	color: white;
}

.date-tile__day {
	text-align: center;
	width: max-content;
	margin: auto;
	color: white;
}

.date-tile__month {
	text-align: center;
	transform: translateY(-.1rem);
	color: white;
}

.date-tile__dayofweek {
	color: white;
}


/* regular variant */

.date-tile--regular {
	min-width: 4rem;
	padding: .5rem;
	height: 4.7rem;
}

.date-tile--regular .date-tile__day {
	font-size: 1.9rem;
	line-height: 2.3rem;
}

.date-tile--regular .date-tile__month {
	font-size: 1.1rem;
	line-height: 1.4rem;
	transform: translateY(-.1rem);
}

.date-tile--regular .date-tile__day--wide {
	font-size: 1.5rem;
	line-height: 2rem;
}

.date-tile--regular .date-tile__month--wide {
	font-size: 1rem;
	line-height: 1.3rem;
}

.date-tile--regular .date-tile__dayofweek {
	font-size: 1.3rem;
	line-height: 3.7rem;
}


/* overlay variant */

.date-tile--overlay {
	min-width: 3.5rem;
	min-height: 3.5rem;
	padding: .2rem .5rem;
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
}

.date-tile--overlay .date-tile__day {
	font-size: 1.6rem;
	line-height: 1.8rem;
	text-align: center;
}

.date-tile--overlay .date-tile__devider {
	line-height: 1.8rem;
}

.date-tile--overlay .date-tile__day--wide {
	font-size: 1.4rem;
}

.date-tile--overlay .date-tile__month {
	font-size: 1.1rem;
	line-height: 1.3rem;
	transform: translateY(-.1rem);
}

.date-tile--overlay .date-tile__month--wide {
	font-size: 1rem;
}

.date-tile--overlay .date-tile__dayofweek {
	font-size: 1.2rem;
	line-height: 3rem;
}


@media only screen and (min-width: 400px) {
	.date-tile--regular {
		padding: .5rem;
		min-width: 5rem;
		height: 5rem;
	}

	.date-tile--regular .date-tile__day {
		font-size: 2.2rem;
		line-height: 2.5rem;
	}
	
	.date-tile--regular .date-tile__month {
		font-size: 1.3rem;
		line-height: 1.5rem;
	}

	.date-tile--regular.date-tile--wide {
		padding-top: .8rem;
	}
	
	.date-tile--regular .date-tile__day--wide {
		font-size: 1.5rem;
		line-height: 2rem;
	}
	
	.date-tile--regular .date-tile__month--wide {
		font-size: 1rem;
		line-height: 1.3rem;
	}

	.date-tile--regular .date-tile__dayofweek {
		font-size: 1.5rem;
		line-height: 4rem;
	}
}