.events-item {
	padding: .15rem;
	cursor: pointer;
	transition: .2s;
	border-radius: .3rem;
	margin: 0 .5rem
}

.events-item:hover .events-item__wrapper {
	background-color: var(--c-bg-box);
}

.events-item--highlight {
	margin: 1rem .5rem;
	/*background: linear-gradient(132deg, rgb(255, 89, 0) 0%, rgb(254, 182, 0) 100%);*/
	
	background: linear-gradient(120deg, #ef5908 30%, #f4aa29 100%);
}

.events-item__wrapper {
	display: inline-flex;
	width: 100%;
	padding: .5rem;
	z-index: 50;
	border-radius: .2rem;

	/* cleaner word-breaking */
	word-break: break-word;
	white-space: pre-line;
	overflow-wrap: break-word;
	-ms-word-break: break-word;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	background-color: var(--c-bg-body);
}

.events-item__tags {
	display: flex;
	gap: .5rem;
}

.events-item__tag {
	margin-bottom: .2rem;
}

.events-item__middle {
	width: 100%;
	min-width: 10rem;
	margin: auto 0;
	padding: 0 0 0 .5rem;
}

.events-item__name {
	font-weight: 400;
	margin: 0;
	font-size: 1.2rem;
	line-height: 1.4em;
}

.events-item__details {
	list-style: none;
	line-height: 1.4em;
	margin-top: .2rem;
}

.events-item__detail {
	display: inline-block;
	color: var(--c-font-regular);
	margin-right: .4rem;
	font-size: .9rem;
}

.events-item__icon {
	color: var(--c-font-regular);
	padding-right: .3rem;
	line-height: inherit;
	font-size: 1.3em;
	vertical-align: top;
}

.events-item__picture {
	display: none;
}

.events-item__img, .events-item__picture svg {
	display: block;
	max-height: 5rem;
    height: 100%;
	width: 12.5rem;
    object-fit: cover;
	border-radius: .2rem;
}

@media only screen and (min-width: 600px) {
	
	.events-item__wrapper {
		padding: 1rem;
	}

	.events-item__middle {
		padding: 0 .5rem;
	}

	.events-item__picture {
		display: block;
	}
}

@media only screen and (min-width: 800px) {

	.events-item__middle {
		padding: 0 1rem;
	}

	.events-item__name {
		font-size: 1.5rem;
	}

	.events-item__detail {
		margin-right: 1rem;
	}
}

@media only screen and (min-width: 1000px) {
	.events-item {
		margin: 0;
	}

	.events-item--highlight {
		margin: 1rem 0;
	}
}