/* Base styles */
.alert {
    display: grid;
    grid-template-columns: min-content auto;
    border-radius: var(--border-radius);
    padding: 0.5em 1em 0.5em 0.8em;
    align-items: start;
}

.alert_content {
    align-self: center;
}

.alert_icon {
    font-size: 2em;
    margin-right: .3em;
}


/* Info variant styles */
.alert--info {
    background-color: var(--color-alert-info-bg);
    color: var(--color-alert-info-text);
}

.alert--info .alert_content {
    color: var(--color-alert-info-text);
}

.alert--info .alert_icon {
    color: var(--color-alert-info-icon);
}


/* Warning variant styles */
.alert--warning {
    background-color: var(--color-alert-warning-bg);
    color: var(--color-alert-warning-text);
}

.alert--warning .alert_content {
    color: var(--color-alert-warning-text);
}

.alert--warning .alert_icon {
    color: var(--color-alert-warning-icon);
}

/* Danger variant styles */
.alert--danger {
    background-color: var(--color-alert-danger-bg);
    color: var(--color-alert-danger-text);
}

.alert--danger .alert_icon {
    color: var(--color-alert-danger-icon);
}
