/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


:root {

  color-scheme: dark; /* both supported */


  /* color values */
  --c-bright-orange: #fd8738;
  --c-dark-orange: #d95d0a;
  --c-yellow: rgb(255, 225, 1);
  --c-purple: rgb(94, 73, 230);
  --c-blue:     rgb(24, 182, 240);
  --c-blue-dark: rgb(9, 128, 192);
  --c-red:      rgb(198, 0, 0);
  --c-dark-red: rgb(128, 0, 0);
  --c-darker-red: rgb(47, 0, 0);
  
  --c-black:    rgb(0, 0, 0);
  --c-grey-16:  rgb(16, 16, 16);
  --c-grey-24:  rgb(24, 24, 24);
  --c-grey-33:  rgb(33, 33, 33);
  --c-grey-39:  rgb(39, 39, 39);
  --c-grey-48:  rgb(48, 48, 48);
  --c-grey-53:  rgb(53, 53, 53);
  --c-grey-69:  rgb(69, 69, 69);
  --c-grey-180: rgb(180, 180, 180);
  --c-grey-196: rgb(196, 196, 196);
  --c-grey-200: rgb(200, 200, 200);
  --c-grey-220: rgb(220, 220, 220);
  --c-grey-240: rgb(240, 240, 240);
  --c-grey-250: rgb(250, 250, 250);
  --c-white:    rgb(255, 255, 255);


  /* brand colors */
  --c-primary: var(--c-bright-orange);
  --c-primary-dark: var(--c-dark-orange);

  
  /* background colors */
  --c-bg-body: var(--c-grey-24);
  --c-bg-box: var(--c-grey-33);
  --c-bg-box-hover: var(--c-grey-39);
  --c-bg-topbar: rgba(20, 20, 20, 0.6);
  --c-bg-footer: var(--c-grey-16);
  /* hero section */
  --c-bg-welcome: radial-gradient(circle, rgba(10,10,10) 0%, rgba(24,24,24) 100%);
  --c-bg-mobile-nav-open: rgba(20, 20, 20, .8);
  /* fancy backgrounds */
  --c-bg-highlight-gradient: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%);
  --c-bg-highlight-gradient-hover: linear-gradient(to right, #FF512F 0%, #F09819 20%, #FF512F 50%);


  /* buttons */
  --c-btn-text-primary: var(--c-white);
  --c-btn-bg-primary: var(--c-primary-dark);
  --c-btn-bg-hover-primary: var(--c-primary);

  --c-btn-text-discret: var(--c-white);
  --c-btn-bg-discret: var(--c-grey-48);
  --c-btn-bg-hover-discret: var(--c-grey-69);

  --c-btn-text-disabled: var(--c-grey-180);
  --c-btn-bg-disabled: var(--c-grey-48);
  

  /* font colors */
  --c-font-main: var(--c-white);
  --c-font-title: var(--c-white);
  --c-font-regular: var(--c-grey-220);
  --c-font-discret: var(--c-grey-180);
  --c-link: var(--c-primary);
  /* use "on-box-dim" to make element look
   "not in focus" or "not selected" */
  --c-on-box-dim: var(--c-grey-69);


  /* decoration */
  --c-corner-decor: var(--c-grey-48);

  
  /* theme toggle */
  --c-sun: var(--c-yellow);
  --c-moon: var(--c-purple);

  
  /* signal colors */
  --c-warning: var(--c-primary);
  --c-new-text: var(--c-blue);
  --c-new-bg: none;
  --c-new-border: var(--c-blue);
  --c-highlight-text: var(--c-primary);
  --c-highlight-bg: none;
  --c-highlight-boder: var(--c-primary);
  --c-error-text: var(--c-red);
  --c-error-border: var(--c-red);
  --c-error-bg: var(--c-darker-red);


  /* font family */
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Lora', serif;


  /* distances */
  --h-topbar: 5rem;
  --w-page: 75rem;
  

  /* shadows (only being uesd in light mode) */ 
  --shadow-box: none;
  --drop-shadow-img: none;

}

/* light mode */
.light {

  color-scheme: light; /* both supported */

  /* backgrounds */
  --c-bg-body: var(--c-grey-240);
  --c-bg-topbar: rgba(250,250,250, 0.85);
  --c-bg-footer: var(--c-grey-33);
  --c-bg-box: var(--c-grey-250);
  --c-bg-box-hover: var(--c-white);
  /* hero section */
  --c-bg-welcome: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(222, 222, 222) 100%);
  --c-bg-mobile-nav-open: rgba(0, 0, 0, .9);


  /* font colors */
  --c-font-main: var(--c-black);
  --c-font-title: var(--c-black);
  --c-font-regular: var(--c-grey-39);
  --c-font-discret: var(--c-grey-69);
  --c-link: var(--c-primary-dark);
  --c-on-box-dim: var(--c-grey-180);


  /* signal colors */
  --c-warning: var(--c-primary-dark);

  --c-new-text: var(--c-white);
  --c-new-bg: var(--c-blue-dark);
  --c-new-border: var(--c-blue-dark);

  --c-highlight-text: var(--c-white);
  --c-highlight-bg: var(--c-primary-dark);
  --c-highlight-border: var(--c-primary-dark);

  --c-error-text: var(--c-white);
  --c-error-border: var(--c-dark-red);
  --c-error-bg: var(--c-dark-red);


  /* buttons */
  --c-btn-text-discret: var(--c-black);
  --c-btn-bg-discret: var(--c-grey-200);
  --c-btn-bg-hover-discret: var(--c-grey-180);

  --c-btn-text-disabled: var(--c-grey-69);
  --c-btn-bg-disabled: var(--c-grey-200);


  /* decorations */
  --c-corner-decor: var(--c-grey-196);


  /* shadows */
  --shadow-box: 0 .1rem .5rem .1rem rgba(200,200,200, 0.3);
  --drop-shadow-img: drop-shadow(.08rem .08rem .08rem rgba(90, 90, 90, 0.5));

}


/* Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
  color: var(--c-font-main);
  transition: .2s;
}


/* material icons */
.material-symbols-sharp {
  vertical-align: middle;
}


body {
  background-color: var(--c-bg-body);
}


/* Layout */

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--c-bg-body);
}

main {
  flex: 1;
  width: 100%;
  margin: var(--h-topbar) auto;
  min-height: calc(100vh - var(--h-topbar) - var(--h-topbar));
}

.page-container {
  max-width: var(--w-page);
  width: 100%;
  margin: auto;
}

header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  header {
    background-color: var(--c-bg-topbar);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); /* This should provide support for Safari, but needs to be tested */
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  header {
    background-color: rgba(20, 20, 20, 0.95);
  }
}

footer {
  background: var(--c-bg-footer);
}


/* Headlines */

.heading-1 {
  margin: 1rem;
  z-index: 2;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2em;
  padding: .3em 0;
  color: var(--c-font-title);
}

.heading-2 {
  margin: 1em 0 .5em 0;
  z-index: 2;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.2em;
  color: var(--c-font-title);
}

.heading-3 {
  margin: 1em 0;
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--c-font-title);
}

.heading-4 {
  font-weight: 600;
  margin: 1em 0 .5em 0;
  font-size: 1.2rem;
  color: var(--c-font-title);
}


/* links */

a {
  text-decoration: none;
  color: var(--c-link);
  cursor: pointer;
}

.standard-link {
  font-weight: 500;
}

.standard-link--underscore-hover:hover {
  text-decoration: underline;
}

.standard-link--corner-hover {
  position: relative;
}

.standard-link--corner-hover:after {
  content: ' ';
  position: absolute;
  width: .8em;
  height: .8em;
  bottom: .4em;
  right: .4em;
  border-right: .2em solid transparent;
  border-bottom: .2em solid transparent;
  transition: .2s;
}

.standard-link--corner-hover:hover::after {
  border-color: var(--c-link);
  right: 0;
  bottom: 0;
}


/* buttons */

.standard-button {
  padding: .5rem 1.5rem;
  display: block;
  border-radius: .2rem;
  text-align: center;
  cursor: pointer;
  border: none;
  font-size: 1rem;
}

.standard-button--primary {
  background-color: var(--c-btn-bg-primary);
  color: var(--c-btn-text-primary);
}
.standard-button--primary i {
  color: var(--c-btn-text-primary);
}
.standard-button--primary:hover {
  background-color: var(--c-btn-bg-hover-primary);
}

.standard-button--discret {
  background-color: var(--c-btn-bg-discret);
  color: var(--c-btn-text-discret);
}
.standard-button--discret i {
  color: var(--c-btn-text-discret);
}
.standard-button--discret:hover {
  background-color: var(--c-btn-bg-hover-discret);
}

.standard-button--disabled {
  background-color: var(--c-btn-bg-disabled);
  color: var(--c-btn-text-disabled);
}
.standard-button--disabled i {
  color: var(--c-btn-text-disabled);
}


/* standard abbreviasion */
abbr {
  text-decoration-color: var(--c-primary);
}


/* paragraphs */

.p--regular {
  padding-bottom: 1.2rem;
  line-height: 1.8rem;
  color: var(--c-font-regular);
  max-width: 50rem;
}

.p--regular i {
  color: var(--c-font-regular);
}

.p--highlighted {
  padding: .5rem 0;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
  line-height: 1.8rem;
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--c-font-main);
  padding-left: 1rem;
  border-left: .3rem solid var(--c-primary);
  max-width: 50rem;
}

.p--highlighted i {
  color: var(--c-font-main);
}


/* tags */

.tag {
  font-size: .8rem;
	border-radius: 1em;
	display: block;
	width: fit-content;
  height: fit-content;
	padding: .08em .6em 0 .6em;
  font-weight: 500;
  border: .15em solid;
  text-transform: uppercase;
}

.tag--highlight {
  border-color: var(--c-highlight-border);
  color: var(--c-highlight-text);
  background-color: var(--c-highlight-bg);
}
.tag--highlight i {
  font-size: 1.3em;
  margin-left: -.3em;
  margin-top: -.2em;
  padding-right: .2em;
  color: var(--c-highlight-text);
}

.tag--canceled {
  border-color: var(--c-error-border);
  background-color: var(--c-error-bg);
  color: var(--c-error-text);
}
.tag--canceled i {
  font-size: 1.2em;
  color: var(--c-error-text);
  margin-top: -.18em;
  margin-left: -.1em;
  padding-right: .2em;
}

.tag--new {
  background-color: var(--c-new-bg);
  border-color: var(--c-new-border);
  color: var(--c-new-text);
}
.tag--new i {
  font-size: 1em;
  margin-top: -.18em;
  margin-left: -.3em;
  color: var(--c-new-text);
}

@media only screen and (min-width: 800px) {
  .tag {
    font-size: .9rem;
  }
}


/* lists */

.ul--regular {
  list-style: none;
}

.ul--regular li {
  color: var(--c-font-regular);
}

.ul--regular li:before {
  content: '\2022';
  color: var(--c-primary);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: .5em;
}


/* text selection */

::-moz-selection { /* Code for Firefox */
  color: white !important;
  background: var(--c-primary) !important;
}

::selection {
  color: white !important;
  background: var(--c-primary) !important;
}


@media only screen and (min-width: 400px) {

  .heading-1 {
    font-size: 2.5rem;
  }

  .heading-2 {
    font-size: 2.1rem;
  }  

  .heading-3 {
    font-size: 1.8rem;
  }

  .heading-4 {
    font-size: 1.3rem;
  }
}


/* For tablets */
@media only screen and (min-width: 800px) {

  .page-container {
    padding-top: 2rem;
  }

  .heading-1 {
    font-size: 3.5rem;
    padding-left: 1.5rem;
    letter-spacing: .1rem;
  }

  /* Decoration corner */
  .heading-1--top-left-corner:before {
    z-index: -1;
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-width: .7rem;
    border-color: var(--c-corner-decor);
    border-style: solid none none solid;
    margin-left: -1.5rem;
    margin-top: -.8rem;
    z-index: 2;
    transition: .1s;
  }
  
  /* Decoration corner */
  .heading-1--top-right-corner:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-right: .7rem solid var(--c-corner-decor);
    border-top: .7rem solid var(--c-corner-decor);
    margin-left: -1.5rem;
    margin-top: -.8rem;
    z-index: 2;
    transition: .1s;
  }
  
  /* Decoration corner */
 .heading-1--bottom-right-corner:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-width: .7rem;
    border-color: var(--c-corner-decor);
    border-style: none solid solid none;
    margin-left: -1.4rem;
    margin-top: 3rem;
    z-index: 2;
    transition: .1s;
  }

  /* Decoration corner */
  .heading-1--bottom-left-corner:before {
    z-index: -1;
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-width: .7rem;
    border-color: var(--c-corner-decor);
    border-style: none none solid solid;
    margin-left: -1.5rem;
    margin-top: 3rem;
    z-index: 2;
    transition: .1s;
  }

  .heading-2 {
    font-size: 2.5rem;
    letter-spacing: .1rem;
  }

  .heading-3 {
    font-size: 2rem;
  }
  
  .heading-4 {
    font-size: 1.3rem;
  }

  .p--highlighted {
    font-size: 1.2rem;
  }

  /* Split wide paragraphs into two columns */
  .p--columes {
    column-count: 2;
    column-gap: 4rem;
    column-rule: .2rem solid var(--c-corner-decor);
    margin: 1rem 0;
  }

  .p--columes .p--highlighted {
    margin-top: 0;
  }
}

/* For desktop: */
@media only screen and (min-width: 1200px) {
  .heading-1 {
    letter-spacing: .2rem;
  }

  .heading-2 {
    letter-spacing: .15rem;
  }  

  .heading-3 {
    letter-spacing: .1rem;
  }
}
