.description {
    padding: 1rem;
    position: relative;
    height: 100%;

    /* cleaner word-breaking */
	word-break: break-word;
	white-space: pre-line;
	overflow-wrap: break-word;
	-ms-word-break: break-word;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.description__header {
    font-size: 1.6rem;
    line-height: 1.4rem;
    font-weight: 400;
}

.description__published {
    font-size: .9rem;
    color: var(--c-font-discret) !important;
    padding: 0 !important;
}

.description h2 {
    font-weight: 400;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.description h3 {
    font-weight: 400;
    font-size: 1.4rem;
    margin: 3rem 0 1rem 0;
}

.description h4 {
    font-weight: 600;
    margin: 2rem 0 1rem 0;
    font-size: 1.2rem;
}

.description p {
    padding: 1rem 0;
    line-height: 1.8rem;
    color: var(--c-font-regular);
    max-width: 40rem;
}

.description ul, .description ol {
    margin: 1rem;
}

.description ul {
    list-style: none;
}

.description li {
    color: var(--c-font-regular);
}

.description ul li:before {
    content: '\2022';
    color: var(--c-primary);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -.5em;
}

.description a:hover {
    text-decoration: underline;
}

/* For mobile: */
@media only screen and (min-width: 400px) {
    .description h1 {
        font-size: 1.8rem;
    }

    .description h2 {
        font-size: 1.5rem;
    }  

    .description h3 {
        font-size: 1.2rem;
    }

    .description h4 {
        font-size: 1rem;
    }
}


/* For tablets */
@media only screen and (min-width: 800px) {

    .description {
        padding: 0;
        padding-right: 2.5rem;
        padding-bottom: 2rem;
    }
    
    .description:after {
        content: '';
        width: 2rem;
        height: 2rem;
        position: absolute;
        border-width: .7rem;
        border-color: var(--c-corner-decor);
        border-style: solid solid none none;
        top: 0;
        right: 0;
        transition: .1s;
    }

    .description:before {
        content: '';
        width: 2rem;
        height: 2rem;
        position: absolute;
        border-width: .7rem;
        border-color: var(--c-corner-decor);
        border-style: none solid solid none;
        bottom: 0;
        right: 0;
        transition: .1s;
    }

    .description h1 {
      font-size: 2.3rem;
      letter-spacing: .1rem;
    }
  
    .description h2 {
      font-size: 2rem;
      letter-spacing: .1rem;
      line-height: 3rem;
    }
  
    .description h3 {
      font-size: 1.8rem;
    }
    
    .description h4 {
        font-size: 1.5rem;
    }
}