.theme-toggle {
    display: block;
    cursor: pointer;
}

.theme-toggle__svg {
    height: 3rem;
    padding: .8rem;
    fill: white;
}

.theme-toggle__sun-ray {
    transition: .4s;
}

.dark .theme-toggle__sun-ray {
    opacity: 0;
}

.light .theme-toggle__sun-ray {
    opacity: 1;
}

.theme-toggle__mask-circle {
    transition: .4s;
    z-index: 999;
}

.light .theme-toggle__mask-circle {
    transform: translate(2rem, -1rem);
}

.theme-toggle__sun-moon {
    transform-origin: center;
    transition: .4s;
}

.dark .theme-toggle__sun-moon {
    transform: scale(2);
}