.filter {
    margin: 0 1rem 1rem 1rem;
    position: sticky;
    top: calc(var(--h-topbar)  + 1rem);
}

.filter__content {
    padding: .5rem 1rem 1rem 1rem;
}

.filter__search-bar {
    display: flex;
    background-color: none;
    margin-bottom: 1rem;
}

.filter__search-input {
    width: 100%;
    border: none;
    padding: 0 0 .3rem 2rem;
    margin-left: -2rem;
    background: none;
    border-bottom: .2rem solid #6d6d6d;
    font-size: 1.2rem;
    line-height: 2rem;
}

.filter__search-input::placeholder {
    color: #6d6d6d;
}

.filter__search-input:focus  {
    border-color: var(--c-orange);
    outline: none;
}

.filter__search-icon {
    display: block;
    width: 2rem;
    z-index: 5;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #6d6d6d;
}

.filter__search-bar:focus-within .filter__search-icon {
    color: var(--c-orange);
}

.filter__checkboxes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.filter__btn {
    padding: .5rem 1.5rem;
    margin-top: 1rem;
    border: none;
    border-radius: .2rem;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
}

.filter__btn i {
    margin-left: .3rem;
}

.filter__btn--reset {
    background-color: var(--c-btn-reset);
}

.filter__btn--reset:hover {
    background-color: var(--c-btn-reset-hover);
}

.checkbox {
    display: block;
    width: fit-content;
    padding: .3rem;
}

.checkbox__label {
    padding-left: 1.8rem;
    padding-right: .5rem;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color .2s ease-in;
}

.checkbox__label:before {
    width: 1rem;
    height: 1rem;
    content: '';
    border: .15rem solid #6d6d6d;
    background-image: none;
    background-repeat: no-repeat;
    background-position: -.05rem 0;
    border-radius: .2rem;
    z-index: 2;
    position: absolute;
    margin-left: -2rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all .1s ease-in;
}

.checkbox__input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}

.checkbox__input:checked ~ .checkbox__label:before {
    background-color: var(--c-orange);
    border-color: var(--c-orange);
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
}

@media only screen and (min-width: 400px) {
    
    .filter__content {
        padding: 1.5rem;
    }

    .filter__checkboxes {
        flex-direction: row;
    }

    .checkbox {
        padding-right: 1rem;
    }

    .filter__btn {
        width: fit-content;
        margin-top: 2rem;
    }
    
}

@media only screen and (min-width: 1000px) {

    .accordion.filter {
        background-color: rgb(0,0,0,0);
        box-shadow: none;
    }

    .filter__checkboxes {
        flex-direction: column;
    }

    .filter .accordion__nav-item {
        display: none;
    }

    .filter .accordion__content {
        max-height: inherit;
    }

    .checkbox {
        padding-right: .5rem;
    }

    .filter__btn {
        width: 100%;
    }
    
}